.aside-left {
  border-right: 1px solid #c4c4c4;
  height: 100%;
}
.aside-right {
  border-left: 1px solid #c4c4c4;
  height: 100%;
}

.aside-fixed {
  position: fixed;
  z-index: 3;
  background-color: #f7f6f3;
}
.mobile-top {
  display: none;
  justify-content: space-between;
  padding: 0 30px;
}
.layout-cart-btn-box-top {
  /* padding-top: 40px; */
  padding-right: 10px;
}
.layout-title {
  height: 10rem;
  padding: 20px 0 0 30px;
  font-size: 5rem;
}
.logo-box {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  /* padding-top: 20px; */
  position: fixed;
  left: 4%;
  top: 2%;
}
.logo {
  width: 100%;
  height: auto;
  fill: #989177;
}
.layout-hamberger-box {
  /* padding-top: 25px; */
  position: fixed;
  right: 4.3%;
  top: 2%;
}
.layout-hamberger {
  display: block;
  margin: 0 auto;
  font-size: 30px;
}
.layout-mem-photo-box {
  margin: 0 auto;
  /* padding-top: 25px; */
  width: 50px;
  height: 50px;
  position: fixed;
  right: 4.3%;
  top: 9%;
}
.layout-mem-photo-box img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.layout-cart-btn-box {
  /* padding-top: 50px; */
  position: fixed;
  right: 5%;
  top: 17%;
}
.layout-cart-btn {
  display: block;
  margin: 0 auto;
  font-size: 25px;
}
.footer {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #c4c4c4;
}
.footer-logo-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}
.footer-logo {
  width: 100%;
  height: auto;
  fill: #989177;
}
.copyright {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #575757;
}
.footer-icon-box-group {
  margin: 0 0.5rem;
  display: flex;
}
.footer-icon-box {
  width: 15px;
  height: 15px;
  margin: 0px 10px 5px 10px;
}
.footer-fb,
.footer-tw,
.footer-in {
  width: 100%;
  height: auto;
  fill: #575757;
}

.cart-icon-add {
  position: relative;
  display: inline-block;
}
.cart-num {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5656;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -9px;
  top: -8px;
}

@media screen and (max-width: 576px) {
  .mobile-adj {
    display: none;
  }
  .layout-title {
    height: 7rem;
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: 0.54rem;
    padding: 60px 0 0 15px;
    /* padding-left: 15px;
    padding-top: 0px; */
  }
  .logo-box {
    width: 55px;
    height: 55px;
  }
  .mobile-top {
    position: fixed;
    width: 100%;
    min-height: 85px;
    display: flex;
    padding: 0 15px;
    padding-bottom: 15px;
    z-index: 3;
  }
  .layout-cart-btn-box-top {
    position: fixed;
    top: 3.5%;
    right: 18%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 960px) {
  .logo-box,
  .layout-hamberger-box {
    width: 40px;
    height: 40px;
  }
  .layout-mem-photo-box {
    right: 2.5%;
  }
  .layout-cart-btn-box {
    right: 4.5%;
  }
  .layout-title {
    height: 8rem;
    font-size: 4rem;
  }
}
