@import './../../styles/global.scss';
.setmenulist {
  .light-title{
    padding-left: 3%;
    padding-bottom: 5%;
  }
  
  .set-ca {
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
  }
  .set-card-detail-title {
    width: 85%;
    margin: 0 auto 1% auto;
  }
  .set-select-all {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  .set-detail-title {
    display: flex;
    justify-content: center;
    user-select: none;
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
  }
  .set-card-detail-title:hover {
    background-color: #fffefc;
  }
  .final_bento_exhibit_all {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .final_bento {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .final_bento:hover {
    background-color: #fffefc;
  }
  .final_under_line {
    width: 85%;
    height: 1px;
    margin: auto;
    background-color: #212121;
  }
  .final_line {
    background: #212121;
    width: 1px;
    height: 120px;
    opacity: 60%;
  }
  .final_bento_day {
  }
  .final-bento-img {
    width: 100%;
    opacity: 90%;
  }
  .final_bento_day-img {
    width: 100%;
    padding: 7%;
  }
  .set-list-title {
    z-index: 5;
    position: relative;
  }
  .animation-opcaity {
    animation: select-box-appear 0.5s ease-in-out;
  }
  .link-bread-set {
    margin-bottom: 3%;
    position: relative;
    // z-index: 3;
  }
  .lightbox-bento-img-element {
    display: flex;
    // flex-wrap: wrap;
  }
  .lightbox-bento-img-element img {
    width: 80%;
    // opacity: 80%;
    margin: auto;
  }
  .set-combo-select {
    padding-left: 10%;
    padding: 0 10%;
    border-radius: 50px;
    background-color: #f7f6f3;
  }
  .set-combo {
    display: flex;
    justify-content: flex-end;
  }
  .cash {
    align-items: center;
    display: flex;
  }
  .setorderfinal {
    align-items: flex-end;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
  }
  .set-final-list-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5% 1%;
  }
  .set-final-list-flex:hover{
    background-color: #fffefc;
  }

  .set-view-all {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0% 10% 10% 10%;
  }
  .setmenulistname {
    padding: 5px 10px 0px;
  }
  .set-list-all {
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  .set-row {
    display: flex;
  }

  .set-list-title-final {
    padding-left: 7%;
    padding-bottom: 1%;
  }
  .set-menu-title {
    margin-top: 2%;
    align-content: space-around;
    display: flex;
  }
  .set-day-title {
    margin-left: 1%;
  }
  .set-bento-title {
    margin-left: 6%;
  }

  .set-input-all {
    display: flex;
  }
  .date-error {
    padding: 3% 0 5% 3%;
  }
  .set-input-from {
    padding-right: 2%;
  }
  .set-input-date {
    border-radius: 50px;
    padding: 2%;
  }
  .set-week {
    border-radius: 50px;
    padding: 2%;
  }
  .set-menu {
    padding: 5px 10px;
    border: #212121 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    position: relative;
  }
  .set-day {
    margin-right: 4%;
  }

  .set-sushi-all {
    display: flex;
    align-content: space-around;
    margin-left: 4%;
    // flex-direction: column;
  }
  .set-sushi-ch {
    flex-grow: 1;
  }
  .set-sushi-en {
    flex-grow: 1;
  }

  .set-list-right {
    background-color: #b5b1b000;
    height: 100%;
    margin-left: auto;
    display: block;
  }
  .set-list-final {
    background-color: #b5b1b000;
    height: 100%;
    margin-left: auto;
    display: block;
  }

  .setorderlist-set-bento-img {
    width: 100%;
    // padding: 0% 5% 5% 10%;
    margin: auto;
    // opacity: 20%;
  }

  .bento-img-element img {
    width: 100%;
    // opacity: 80%;
  }

  .select {
    border: 0;
    padding: 2% 0;
    background: rgba(0, 0, 0, 0);
    // -webkit-appearance: none;
    // appearance: none;
    height: 100%;
    width: 100%;
  }
  option {
    background-color: #f7f6f3;
  }
  .set-num {
    padding-right: 2rem;
  }
  .select-box {
    display: flex;
    border: 1px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    padding: 10 0;
    // overflow: hidden;
  }
  @keyframes select-box-appear {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }
  .set-orderfinal-svg {
    animation: set-order-final-svg 1.5s ease-in-out;
  }
  .set-order-final {
    // animation: set-order-final 2s ease-in-out;
  }
  .set-loading {
    position: absolute;
    top: 50%;
    left: 45%;
    opacity: 0%;
    z-index: 5;
    animation: set-order-final-disappear 1.5s ease-in-out;
  }
  .space-animation {
    background-color: #f7f6f3;
    width: 70%;
    height: 0px;
    position: absolute;
    top: 20%;
    z-index: 4;
    animation: space-disappear 2s;
    transition-timing-function: cubic-bezier(1, -0.01, 0, 1.01);
  }
  .space-animation-white {
    background-color: #ffffff;
    width: 70%;
    height: 0px;
    position: absolute;
    top: 20%;
    z-index: 3;
    animation: space-disappear-white 2s;
    transition-timing-function: cubic-bezier(1, -0.01, 0, 1.01);
  }
  .space-animation-gray {
    background-color: #f5f2ea;
    width: 70%;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 20%;
    z-index: 2;
    animation: space-disappear-gray 2s;
    transition-timing-function: cubic-bezier(1, -0.01, 0, 1.01);
  }

  @keyframes set-order-final {
    0% {
      opacity: 0%;
    }
    25% {
      opacity: 0%;
    }
    95% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes set-order-final-disappear {
    0% {
      opacity: 0%;
    }
    15% {
      opacity: 100%;
    }
    90% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  @keyframes space-disappear {
    0% {
      height: 750px;
    }
    85% {
      height: 750px;
    }
    90% {
      height: 600px;
    }
    100% {
      height: 0px;
    }
  }
  @keyframes space-disappear-white {
    0% {
      height: 750px;
    }
    85% {
      height: 750px;
    }
    94% {
      height: 600px;
      opacity: 100%;
    }
    100% {
      height: 0px;
      opacity: 0%;
    }
  }
  @keyframes space-disappear-gray {
    0% {
      height: 750px;
    }
    85% {
      height: 750px;
      opacity: 0%;
    }
    94% {
      height: 600px;
      opacity: 100%;
    }
    96% {
      height: 580px;
      opacity: 100%;
    }
    100% {
      height: 0px;
      opacity: 0%;
    }
  }
  .set-order-list-buttom {
    justify-content: end;
  }
  .custom-arrow {
    right: 0;
    position: absolute;
    display: block;
    pointer-events: none;
  }

  .bento-sushi-menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .set-list-left {
    width: 50%;
  }
  .custom-info {
    display: none;
  }
  .set-nutrient {
    // color: #212121;
    text-align: center;
    // position: absolute;
    // right: 0%;
  }
  .set-nutrient-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
  }
  .set-nutrient-bento-name {
    padding-bottom: 2%;
  }
  .set-nutrient-bento-name-lightbox {
    padding-left: 5%;
  }
  @media screen and (max-width: 2260px) {
    .space-animation {
      top: 15%;
    }
    .space-animation-white {
      top: 15%;
    }
  }
  @media screen and (max-width: 1516) {
    @include mytitle;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.14rem;
  }

  @media screen and (min-width: 577px) and (max-width: 991px) {
    .space-animation {
      top: 10%;
    }
    .space-animation-white {
      top: 10%;
    }
  }
  @media screen and (max-width: 991px) {
    .set-list-title-final {
      padding-left: 0%;
    }
    .set-card-detail-title {
      display: none;
    }
    .space-animation {
      width: 95%;
    }
    .space-animation-white {
      width: 95%;
    }
    .set-loading {
      left: 30%;
    }

    .date-error {
      padding: 2% 0 2% 2%;
    }
    .set-order-list-buttom {
      margin-top: 10%;
    }
    .set-view-all {
      padding: 0;
    }
    .set-list-right-final {
      margin-right: 2%;
      margin-top: 2%;
    }
    .set-list-down-correct {
      margin-top: 6rem;
      display: block;
    }
    .set-list-down-error {
      margin-top: 6rem;
      display: none;
    }
    .set-list-right {
      display: none;
    }

    .set-list-left {
      width: 100%;
    }
    .custom-arrow {
      right: 5%;
    }
    .custom-info {
      display: block;
    }
    .setorderfinal {
      flex-direction: column;
    }
    .set-list-down {
      margin-top: 0;
    }
  }
}
@media screen and(max-width:576px) {
  .space-animation {
    top: 14%;
  }
  .space-animation-white {
    top: 14%;
  }
  .set-loading {
    left: 0%;
  }
  .link-bread-set {
    margin-top: 10%;
    margin-bottom: 2%;
  }
}
