@import './../../styles/global.scss';
.step {
  .link-bread-set {
    margin-bottom: 3%;
  }
  .step-title{
    animation: select-box-appear 0.5s ease-in-out;
  }

  @keyframes select-box-appear {
    from {
      
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }


  img{
    width: 30%;
  }
  .step4-annotation{
    padding-bottom:5%;
    animation: select-box-appear 0.5s ease-in-out;
    text-align: center;
  }
  .start-padding {
    padding-top: 0%;
  }
  .set-question-btn {
    animation: select-box-appear 0.5s ease-in-out;
    border: #b03342 1px solid;
    border-radius: 50px;
    padding: 6px 20px;
    margin: 2px;
    color: #b03342;
  }
  .set-question-btn:hover {
    transition: 0.2;
    background-color: #b03342;
    color: #f7f6f3;
  }

  .step-reset-enter-btn-all {
    display: flex;
    justify-content: center;
  }
  .step-reset-btn {
    border: #b03342 1px solid;
    border-radius: 50px;
    padding: 6px 20px;
    margin: 2px;
    color: #b03342;
  }
  .step-reset-btn-red {
    border: #b03342 1px solid;
    background-color: #b03342;
    border-radius: 50px;
    padding: 6px 20px;
    margin: 2px;
    color: #f7f6f3;
  }
  .set-row {
    display: flex;
  }
  .set-all-content {
    margin: 0% 0 2% 0;
    position: relative;
  }

  .set-title {
    margin: auto;
    padding: 10px;
    border: 1px solid #212121;
    border-radius: 13px;
    background-color: #f7f6f3;
    position: absolute;
    z-index: 1;

    left: 25%;
  }
  .set-title-0 {
    top: -3%;
  }
  .set-title-1 {
    top: -3%;
  }
  .set-title-2 {
    top: -3%;
  }
  .set-title-3 {
    top: -3%;
  }
  .set-title-4 {
    top: -3%;
  }

  .step-mob-title {
    @extend .ch-title-22;
    transition: 0.5s;
    @include pad {
      @include mytitle;
      font-size: 1.6rem;
      line-height: 2.3rem;
      letter-spacing: 0.16rem;
    }
    @include mobile {
      @include mytitle;
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: 0.14rem;
    }
  }
  .set-question-box-start {
    align-items: center;
    margin:1% auto 0 auto;
    padding: 6% 4%;
    width: 85%;
    border: 1px solid #212121;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    position: relative;
    animation: select-box-appear 0.5s ease-in-out;
  }
  
  .set-question-box {
    align-items: center;
    margin:1% auto 0 auto;
    padding: 6% 4%;
    width: 85%;
    border: 1px solid #212121;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .bento-img-center {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    
  }
  .set-bento-img {
    width: 20%;
    margin: 0 auto;
    opacity: 40%;
  }
  .set-button {
    
    border: none;
    border-radius: 50px;
    color: #f7f6f3;
    background-color: #b03342;
    padding: 13px 10px;
    width: 210px;
    height: 44px;
    margin: 0 auto;
  }
  .set-text-center {
    text-align: center;
    margin: auto;
  }
  .set-content {
    padding-bottom: 2%;
    margin:10% 0 10% 0;
  }
  .set-content-start {
    padding-bottom: 2%;
    // margin:10% 0 10% 0;
  }
  .set-content-one {
    animation: select-box-appear 0.5s ease-in-out;
    padding-top: 14%;
    padding-bottom: 14%;
    // margin:10% 0 10% 0;
  }
  .set-content-four {
    animation: select-box-appear 0.5s ease-in-out;
    padding-bottom: 2%;
    margin:10% 0 2% 0;
  }
  .setorder-btn-all {
    display: flex;
    margin-bottom: 10%;
  }
  .step-one-question-box {
    padding: 6% 0%;
  }
  .stepfour-paddiing {
    padding-bottom:6%;
    width: 50%;
  }

  @media screen and (max-width: 991px) {
    .stepfour-paddiing {
      width: 80%;
    }
    .start-padding {
      padding-top: 10%;
    }
    .set-question-btn {
      border: #b03342 1px solid;
      border-radius: 50px;
      padding: 6px 10px;
      margin: 2px;
      color: #b03342;
    }
  }
  @media screen and (max-width: 600px) {
    .set-question-box-start{
      margin:5% auto 0 auto;
    }
    .set-question-box{
      margin:5% auto 0 auto;

    }
    .stepfour-paddiing {
      width: 100%;
    }
    .set-content {
      padding-bottom: 10%;
    }
    .set-title {
      margin: auto;
      padding: 10px;
      border: 1px solid #212121;
      border-radius: 13px;
      background-color: #f7f6f3;
      position: absolute;
      z-index: 1;
      top: -3%;
      left: 25%;
    }

    .setorder-btn {
      border: 1px solid #b03342;
      color: #b03342;
      border-radius: 25px;
      text-align: center;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 576px) {
    .link-bread-set{
      margin-top: 10%;
      margin-bottom: 2%;
    }

    .set-question-box{
      margin:15% auto 0 auto;
    }
    .set-question-box-start{
      margin:15% auto 0 auto;
    }
  }


  @media screen and (max-width: 400px) {

    .set-question-box{
      margin-top:20% auto 0 auto;
    .set-question-box-start{
      margin-top:20% auto 0 auto;
    }
    }
  }
}
