<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
  </head>
  <style>
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .myGrid {
      margin: 20px auto;
      columns: 4;
      column-gap: 40px;
    }
    .card {
      width: 100%;
      overflow: hidden;
      break-inside: avoid;
      padding: 10px;
      margin: 0 0 20px;
    }
    .card img {
      width: 100%;
    }
  </style>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="myGrid">
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1525097487452-6278ff080c31"
                alt="photo"
              />
            </div>
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1549388604-817d15aa0110"
                alt="photo"
              />
            </div>
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1523413651479-597eb2da0ad6"
                alt="photo"
              />
            </div>
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1525097487452-6278ff080c31"
                alt="photo"
              />
            </div>
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1523413651479-597eb2da0ad6"
                alt="photo"
              />
            </div>
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1481277542470-605612bd2d61"
                alt="photo"
              />
            </div>
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1516455207990-7a41ce80f7ee"
                alt="photo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
