/* cart.scss */
@import './../../styles/global.scss';
* {
  // outline: 1px solid red;
}
// 左側導覽列
.cart-asideLeft-nav {
  position: fixed;
  top: 30%;
  // left: 3%;
  display: inline-block;
  z-index: 4;
  // width: 198px;
  width: 13.5%;
  padding-left: 1.5%;
}
// 左側導覽列 - 項目
.cart-asL-nav-item {
  margin: 10% 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
// 左側導覽列 - 文字
.cart-asL-nav-text {
  width: 140px;
  padding: 15% 0;
  text-align: end;
  color: #c4c4c4;
  margin-right: 10%;
}
// 左側導覽列- 方塊實心
.cart-asL-nav-square {
  width: 16px;
  height: 16px;
  background-color: $light-red;
  transform: rotate(45deg);
  margin: 5%;
  left: 5%;
}
// 左側導覽列- 方塊外框
.cart-asL-nav-square-white {
  width: 16px;
  height: 16px;
  border: 1px solid $light-red;
  background-color: $light-bg;
  transform: rotate(45deg);
  margin: 5%;
  left: 5%;
}
.cart {
  /* 購物車元件的項目 */
  // height:calc( 100%-93px);

  .prod-item {
    border-bottom: 1px solid #c4c4c4;
    align-items: center;
    align-self: center;
    align-content: stretch;

    // 手機板的item padding 移除
    @media screen and (max-width: 375px) {
      .col-1,
      .col-2,
      .col-3,
      .col-4,
      .col-5,
      .col-6,
      .col-7,
      .col-8,
      .col-9,
      .col-10,
      .col-12,
      .col-14,
      .col-16,
      .col-18,
      .col-24 {
        padding: 0%;
      }
    }

    /* ProdLists商品圖片 */
    .cart-item-img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      // background-color: #c4c4c4;
    }
    .cart-item-img img {
      width: 100%;
    }
  }
  .prod-item-icon {
    cursor: pointer;
  }
  .prod-item:hover {
    // background-color:$card-hover;
    background-color: #c4c4c452;
    // width: 100%;
  }
  // 交易明細項目商品背景色
  .prod-item-info {
    // background-color: #ffffff;
    width: 100%;
    // margin: 2% 0;
    padding: 0 5%;
  }
  // 交易明細項目商品背景色
  .prod-item-info:hover {
    background-color: #c4c4c452;
    // background-color: $light-bg;
    width: 100%;
  }

  /* 購物車數量 - 1 + */
  .select-count {
    display: flex;
    justify-content: space-between;
    width: 100%;

    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
  }
  /*隱藏input(number)的上下選擇按鈕*/
  .select-count input::-webkit-outer-spin-button,
  .select-count input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .select-count button {
    border: none;
    background: none;
    padding: 5%;
    cursor: pointer;
    font-size: 2.5rem;
  }
  .select-count input {
    width: 80%;
    font-size: 1.8rem;
    background: none;
    border: none;
    text-align: center;
  }

  /* 購物車清單標題 */
  .list-title {
    // display: flex;
    // padding: 30px 0px;
    border-bottom: 1px solid #c4c4c4;
  }

  // 確認訂單 的img
  .cart-item-img-info img {
    width: 100%;
  }
  .cart-item-img-info {
    width: 60px;
    height: 60px;
    object-fit: cover;
    //  background-color: #c4c4c4;
  }

  // 總計右邊列
  .summary-right {
    margin: 0;
    position: sticky;
    bottom: 36px;
    background-color: #f7f6f3;
  }

  @media screen and (min-width: 576px) {
    .summary-right {
      margin: 0 10%;
    }
    // 總計的地方網頁版才要線
    .summary-right > .row {
      margin: 5%;
      padding: 10% auto;
      border-bottom: 1px solid #c4c4c4;
    }
  }

  // stepone fixbottom
  // .list-check{
  //    position: sticky;
  //   //  left: 0;
  //    bottom: 36px;
  //    width: 100%;
  //    background-color: #f7f6f3;

  // }

  // cartlist 空的購物車圖
  .empty-img {
    width: 200px;
    height: 200px;
    margin: 10%;
  }
  .empty-img img {
    width: 100%;
  }

  // stepone 總計的金額
  .ch-cont-24 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: 0.54rem;
  }

  // 下拉選單
  select {
    height: 40px;
    padding: 10px 20px;
    width: 100%;
  }

  // stepFour 進度條
  .animated-progress {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin: 5% 0;
    border: 1px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
  }

  .animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }

  .progress-red span {
    background-color: $primary;
  }

  //檢查用 要移除
  // .col-md-2,
  // .col-md-4,
  // .col-md-6,
  // .col-md-8,
  // .col-md-10,
  // .col-md-12{
  // outline: #303030 solid 1px;
  // }

  // //購物車套餐光箱表格

  // table {
  //   font-size: 20rem;
  // }

  //地圖
  .store-map {
    margin: 20px auto;
    width: 100%;
    height: 600px;
    background-color: #c4c4c4;
  }

  // #map {
  //             /* margin: 10px;
  //             height: 500px;
  //             width: 620px; */
  //             margin: 20px auto;
  //             width: 800px;
  //             height: 600px;
  //             background-color: #c4c4c4;
  //         }

  // 套餐光箱選項
  .set-bento-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .set-bento-item-bg {
    // border: 1px solid;
    background-color: #c4c4c4 !important;
    border-bottom: #c4c4c4;
  }

  //交易明細 折疊開關的標題
  .cart-detail-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
  }

  // .down-arrow {
  //   // display: block;
  //   // cursor: pointer;
  // }
  // .cart-detail {
  //   clear: both;
  // }

  //stepfour 上半部文字
  .confirmation {
    margin: 5% 10%;
  }
  .processBar {
    margin: 5% 10%;
  }

  .process-bar {
    width: 100%;
    height: 10px;
    background-color: $gray;
    position: relative;
    border-radius: 10px;
  }
  .process-bar:before {
    content: '';
    position: absolute;
    width: 30%;
    height: 10px;
    border-radius: 10px;
    background-color: $light-red;
    animation: processbar 2s ease-in;
  }
  @keyframes processbar {
    from {
      width: 0;
    }
    to {
      width: 30%;
    }
  }
  .error {
    padding-left: 2%;
    color: $tint-red;
    font-weight: 500;
  }

  .breadcart {
    padding-top: 15%;
  }
  @media screen and (min-width: 576px) {
    .breadcart {
      padding-top: 0%;
    }
  }
}
