/* cart.scss */
@import './../../styles/global.scss';
.cart{
/* 購物車元件的項目 */
  
.prod-item{ 
    border-bottom:1px solid #c4c4c4;
    align-items: center; 
    align-self :center;
    align-content:stretch;
}
/* 購物車數量 - 1 + */
.amount-line{
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
    display: flex;
    width: 60%;
    align-items: center;
    padding:3% ;
   justify-content:space-around;
}
/* 購物車數量 - 1 + */
.select-count{
    display: flex;
    justify-content: space-between;
    width: 50%;    
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;  
}
/*隱藏input(number)的上下選擇按鈕*/
.select-count input::-webkit-outer-spin-button,
.select-count input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.select-count button{
    border:none;
    background: none;
	padding: 0;
	cursor: pointer;
    font-size: 2.5rem;
}
.select-count input{
    width: 50%; 
    font-size: 1.8rem;     
    background: none;
    border: none;
    text-align: center;      
}



/* 購物車清單標題 */
.list-title{
    // display: flex;
    // padding: 30px 0px;
    border-bottom: 1px solid #c4c4c4 ;
}
/* 框線按鈕顏色 */
// .btn-outline-tint-red{
//     // color: #b03342;
//     // border: 1px solid #b03342; 
//     // align-self: stretch;
//     // padding:2% 10%;
//     // margin:0 2%;

// //   width: 150px;
// //   height: 44px;
// //   padding: 5px 10px;
// //   border:2px solid #b03342;
// // //   background-color: #b03342;
// //   border-radius: 30px;
// }
/* 實心按鈕 */
// .btn-tint-red{
//     // color: #fff;
//     // border: 1px solid #b03342; 
//     // background:#b03342;
//     // align-self: stretch;
//     // padding:2% 10%;
//     // margin:0 2%;
//     // 組長大大btn
// //   width: 150px;
// //   height: 44px;
// //   padding: 5px 10px;
// //   background-color: #b03342;
// // //   border: none;
// //   border-radius: 30px;
// }



// .btn-primary{
//     padding:5% 15%;
//     margin:0 2%; 
// }
// .btn-outline-primary{
//     padding:3% 12%;
//     margin:0 2%; 
// }


/* 商品圖片 */
.cart-item-img img{
    width: 80px;
    height: 80px;
    object-fit: cover;

}
// .cart-item-img {
//   width: 80%;
// }

.summary-right{
      margin: 10%;
}

.summary-right>.row{
    margin: 5% ;
    padding: 10% auto;
    border-bottom: 1px solid #c4c4c4;

}



// stepone fixbottom

// .list-check{
//    position: sticky;
//   //  left: 0;
//    bottom: 36px;
//    width: 100%;
//    background-color: #f7f6f3;
  
// }

// cartlist 
.empty-img{
  margin: 10%;

}
.empty-img img{
  width: 200px;
  height: 200px;
}

Footer{
   /*  */
    position: sticky;
    bottom: 0;
}

// primary 大小
// .btn-lg{
//   width: 210px;
//   height: 44px;

// }

// .btn-sm{
//   width: 120px;
//   height: 34px;
// }


// stepone
.ch-cont-24 {
 
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.54rem;
}
// 刪除 set 的按鈕
// .prod-item-icon{
//   margin: 0 15%;
// }
// input 高度
input.form-control{
  height: 40px;
}

// stepFour 進度條
.animated-progress {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  // margin: 20px 10px;
  margin: 5% 0;
  border: 1px solid rgb(189, 113, 113);
  overflow: hidden;
  position: relative;
}

.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 30px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
}

.progress-red span {
 
  background-color:  $primary;
}


//檢查用 要移除
// .col-md-2,
// .col-md-4,
// .col-md-6,
// .col-md-8,
// .col-md-10,
// .col-md-12{
// outline: #303030 solid 1px;
// }
}

