input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
  background-color: transparent;
}

$mem-min-height-md: calc(100vh - 50rem);

$width: calc(100vw - 25vw);
.member-container {
  width: $width;
}
@media screen and (max-width: 576px) {
  .member-container {
    width: 100%;
  }
}

.member {
  .memHead {
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
  }
  .mem-min-hi {
    margin: 0;
    min-height: $mem-min-height-md;
  }
  .memPhotoArea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .memUpload {
    text-align: center;
  }
  .memPhoto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }
  .memImg {
    width: 100%;
    height: auto;
  }
  .memName {
    margin-top: 8%;
    color: #212121;
  }
  .primeal-btn {
    margin-top: 2%;
    width: 50%;
    border-radius: 30px;
  }
  .solgan {
    font-size: 3.6rem;
    line-height: 5.4rem;
    letter-spacing: 0.81rem;
    align-items: center;
    display: flex;
  }
  .memInfoArea {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
  li {
    list-style: none;
    margin-top: 2%;
  }
  .memInfo {
    border: 1px solid #c4c4c4;
  }
  .memSet {
    border: 1px solid #c4c4c4;
  }
  .memActive {
    border: 1px solid #c4c4c4;
    margin-top: 2%;
    position: relative;
  }
  .ActiveDetail {
    display: flex;
    justify-content: space-between;
  }
  .active-wrap {
    display: flex;
    justify-content: space-between;
  }
  .ActTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .setDetail {
    margin-left: 10%;
    margin-top: 3%;
  }
  .setImg {
    margin-top: 2%;
    margin-left: 6%;
  }
  .divCarou {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .carouContainer {
    overflow: hidden;
    position: relative;
    display: flex;
  }
  .memShare {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  .memIndexLink {
    display: none;
  }
  .carouImg {
    // height: 65%;
    width: 150px !important;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s;
  }
  .carouImg:hover {
    border: 5px solid #fff;
  }

  // .swiper-slide img {
  // width: 100%;
  // object-fit: cover;
  // }
  .Cimg {
    width: 100%;
    height: auto;
  }
  .share-btn {
    width: 20%;
    margin-top: 5%;
    margin-right: 3%;
  }

  .memReviseArea {
    border-top: 1px solid #c4c4c4;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .reviseCon {
    width: 80%;
  }
  .actPwd {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
  }
  .memInp {
    width: 40%;
  }

  .revInpBig {
    height: 40px;
    width: 100%;
  }
  .revInpSm {
    height: 40px;
    width: 90%;
  }
  .accTitle {
    margin-top: 5%;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 1%;
  }
  .revPswBtn {
    margin-left: 70%;
    margin-top: 3%;
    height: 32px;
    width: 30%;
  }
  .memInfoBot {
    width: 100%;
  }
  .memInpuSm {
    width: 90%;
  }
  .memInpBt {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .memInpbtBig {
    width: 100%;
  }
  .memInfoLeft {
    width: 40%;
  }
  .memInfoRight {
    width: 40%;
  }
  .memInpbtPsdBig {
    width: 100%;
  }
  .revPswBtnPage {
    margin-left: 70%;
    height: 32px;
    width: 30%;
    position: absolute;
    bottom: 0;
  }
  .memPwdBtn {
    width: 40%;
    position: relative;
  }
  //歷史訂單頁
  .orderDetailTB {
    margin-top: 5%;
  }
  .orderDetailRow {
    flex-direction: column;
    align-items: center;
  }
  .order-detail-list:hover {
    background-color: #c4c4c452;
  }

  .buttonLeft {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: #fff;
  }
  .buttonRight {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: #fff;
  }
  .mobileLink {
    display: none;
  }
  .memActiveTBtn {
    position: absolute;
    top: 10%;
    right: 2%;
  }
  .spaceForBtn {
    display: none;
  }
  .activeForMobile {
    display: flex;
  }
  .regiTitle {
    display: none;
  }
  .swiper {
    width: 100%;
    height: 100%;
    // overflow: hidden;
  }
  .swiper-pagination-bullet-active {
    background-color: #ff5656;
    border-radius: 0;
    width: 15px;
    height: 15px;
    margin: 1rem 0.5rem;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .swiper-pagination-bullet {
    border-radius: 0;
    width: 15px;
    height: 15px;
    margin: 1rem 0.5rem;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f7f6f3;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: start;
    align-items: start;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .activeImg {
    width: 120px;
    height: auto;
    transition:0.5s;
  }
  .memClassic {
    display: flex;   
  }

  .activeImg:hover {
    width: 125px;
  }


  .swiper-container {
    width: 577px;
  }

  //RWD
  @media screen and (max-width: 576px) {
    .ActiveDetail {
      display: block;
    }
    .activeImg {
      width: 120px;
      height: 120px;
    }
    .swiper-container {
      width: 1px;
    }

    .memHead {
      display: block;
    }
    .solgan {
      display: none;
    }
    .memPhotoArea {
      flex-direction: row;
    }
    .Cimg {
      width: 60px;
    }
    .memPhoto {
      width: 120px;
      height: 120px;
    }
    .divCarou {
      margin-top: 5%;
    }
    .carouContainer {
      padding-left: 0;
    }
    .memUpload {
      margin-left: 10%;
    }
    .memName {
      margin-bottom: 20%;
    }
    .shareLink {
      display: none;
    }
    .memInfoArea {
      display: block;
      padding: 0;
    }
    .mobileLink {
      display: flex;
      margin-top: 5%;
    }
    .memShare {
      margin-left: 0;
    }
    .mobileLInkOption {
      width: 20%;
      height: 20px;
      text-align: center;
      line-height: 20px;
      margin-bottom: 10px;
    }
    .memInfo {
      padding: 0;
      margin: 0;
    }
    .tableInfo {
      padding: 0;
    }
    .memActiveArea {
      display: block;
    }
    .memActiveTBtn {
      top: 87%;
      position: absolute;
      z-index: 3;
    }
    .spaceForBtn {
      display: block;
      height: 70px;
      position: relative;
    }
    .activeForMobile {
      display: flex;
    }
    .active-wrap-info {
      text-align: right;
    }
    .carouImg {
      width: 60px !important;
      height: 60px;
    }
  }
}
