.mem{
    .memHead{
        display:flex;
        margin-top: 4% ;
        justify-content: space-between;
    }
    .memPhotoArea{
        display:flex;
        flex-direction:column;
        align-items:center;
        
    }
    .memPhoto{
        width: 70%;
        height: auto;
        border-radius:50%;
        object-fit: cover;
        overflow: hidden;
    }
    .memImg {
        width: 100%;
        height: auto;
    }
    .memName {
       margin-top: 8%;
       color: #212121;
    }
    .primeal-btn {
        margin-top: 2%;
        width:50%;
        border-radius:30px;
    }
    .solgan {
        font-size: 3.6rem;
        line-height: 5.4rem;
        letter-spacing: 0.81rem;
        align-items: center;
        display: flex;
    }
    .memInfoArea {
        display: flex;
        justify-content: space-around;
        margin-top:5%;
    }
    li {
        list-style: none;
        margin-top:2%
    }
    .memInfo {
        border: 1px solid #c4c4c4;
    }
    .memSet {
        border: 1px solid #c4c4c4;
    }
    .memActive {
        border: 1px solid #c4c4c4;
        margin-top:2%;
    }
    .ActiveDetail {
        display:flex;
    }
    .ActTitle {
        display:flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .setDetail {
        margin-left: 10%;
        margin-top: 3%;
    }
    .setImg {
        margin-top: 2%;
        margin-left: 6%;
    }
    .divCarou {
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    .memShare {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .carouImg {
        width: 40%;
        border-radius:50%;
    }
    .Cimg {
        width:180px;
    }
    .share-btn {
        width:20%;
        margin-top:5%;
        margin-right: 3%;
    }
    
    
    .memReviseArea{
        border-top: 1px solid #c4c4c4;
        display: flex;
        justify-content:center;
    }
    .reviseCon {
        width: 80%;
    }
    .actPwd {
        width:100%;
        display:flex;
        justify-content: space-around; 
        margin-top: 3%;
    }
    .memInp{
        width:40%;
    }
    
    .revInpBig {
        height: 40px;
        width:100%;
    }
    .revInpSm {
        height: 40px;
        width:90%;
    }
    .accTitle {
        margin-top: 5%;
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 1%;
    }
    .revPswBtn {
        margin-left: 70%;
        margin-top: 3%;
        height:32px;
        width:30%;
    }
    .memInfoBot {
        width: 100%;
    }
    .memInpuSm {
        width: 90%;
    }
    .memInpBt {
        width: 100%;
        display:flex;
        justify-content: space-between;
    }
    .memInpbtBig{
        width: 100%;
    }
    .memInfoLeft {
        width: 40%;
    }
    .memInfoRight {
        width: 40%;
    }
    .memInpbtPsdBig{
        width: 100%;
        
    }
    .revPswBtnPage {
        margin-left: 70%;
        height:32px;
        width:30%;
        position: absolute;
        bottom: 0;
    }
    .memPwdBtn {
        width: 40%;
        position: relative;
    }
    //歷史訂單頁
    .orderDetailTB {
        margin-top:5%;
    }
    .orderDetailRow {
        flex-direction: column;
        align-items: center
    }
   
    
    
    
    
 
}