@import './../../styles/global.scss';
@import './../layout/Layout.css';

// 平板&手機header
.mtlHeader{
  .layout-title{
    display: none;
  }
  .mobile-top{
    display: none;
    justify-content: space-between;
    padding: 0 30px;
  
    @include pad {
      display: flex;
      padding: 0 15px;

      .logo-box {
        width: 55px;
        height: 55px;
      }
    }
    @include mobile {
      display: flex;
      padding: 0 15px;

      .logo-box {
        width: 40px;
        height: 40px;
      }
    }
  }
}
$cus-min-hi: calc( 100vh - 14rem );
.customize.min-hi{
  min-height: $cus-min-hi
}

.customize.margin-top .layout-title{
  @include mobile{
    margin-top: 80px;
  }
}

// 內容物class
$areaHeight: calc( 100vh - 80px );
.customize {
  overflow: hidden;

  @keyframes appear {
    from {   
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }
  animation: appear 0.5s ease-in-out;
  .left-area,
  .mid-area,
  .right-area {
    animation: appear 0.5s ease-in-out;
    height: 100vh;

    @include pad{
      height: $areaHeight;
    }
    @include mobile{
      height: $areaHeight;
      margin-top: 8rem;
    }
  }
  .mtlView {
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap;
  }
  .logoMtl,
  .menuMtl {
    min-height: 15rem;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include pad {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }
  .menuMtl {
    justify-content: flex-end;
    padding-right: 3rem;
  }
  .left-area,
  .right-area {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 25%;
    flex: 0 0 25%;

    @include pad {
      position: absolute;
      display: flex;
      z-index: 1;
      flex: 0 0 87.5%;
      max-width: 87.5%;
    }
    @include mobile {
      position: absolute;
      display: flex;
      z-index: 1;
      flex: 0 0 87.5%;
      max-width: 87.5%;
    }
  }

  @keyframes rotateBtnOpen {
    from {   
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  @keyframes rotateBtnClose {
    from {   
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  $laBtn: calc( -100% + 30px);
  $raBtn: calc( 100% - 30px);
  .left-area, .right-area {
    transition: 0.5s ease-in-out;
  }
.open-left{
  right: 0;
  transition: 0.5s ease-in-out;
  @include mobile{
    transform: translate($raBtn);

    & .arrL{
      animation: rotateBtnClose 0.5s ease-in-out;
    }
  }
}
.close-left{
  right: 0;
  transition: 0.5s ease-in-out;

  @include mobile{
    transform: translate(0%);

    & .arrL{
      animation: rotateBtnOpen 0.5s ease-in-out;
      transform: rotate(180deg);
    }
  }
}
.open-right{
  transition: 0.5s ease-in-out;
  @include mobile{
    transform: translate($laBtn);

    & .arrR{
      animation: rotateBtnClose 0.5s ease-in-out;
    }
  }
}
.close-right{
  transition: 0.5s ease-in-out;
  @include mobile{
    transform: translate(0%);

    & .arrR{
      animation: rotateBtnOpen 0.5s ease-in-out;
      transform: rotate(180deg);
    }
  }
}

  .mid-area {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

    @include pad {
      flex: 0 0 100%;
      max-width: 100%;
    }
    @include mobile {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .la-menu {
    border-right: 1px $gray solid;
    background-color: $light-bg;
  }
  .ra-menu {
    border-left: 1px $gray solid;
    background-color: $light-bg;
  }
  .choose {
    border-bottom: 1px $gray solid;
    height: 3.5rem;
  }
  .tech,
  .cart,
  .mem,
  .buger {
    margin: 1rem;
    cursor: pointer;
  }
  .buger{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;

    &:hover{
      background-color: $card-hover;
      transition: 0.3s;
    }
  }
  .cart{
    margin-top: 1.7rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    .cart-icon-add{
      padding-left: 1.2rem;
      padding-top: 1rem;
    }

    &:hover{
      background-color: $card-hover;
      transition: 0.3s;
    }
  }
  .memimg{
    width: 5.5rem;
    height: 5.5rem;
    border: 0.5rem solid transparent;
    border-radius: 50%;
    overflow: hidden;

    &:hover{
      border: 0.5rem solid $card-hover;
      transition: 0.3s;
    }
  }
  .memimg img {
    width: 100%;
    height: auto;
  }
  .mtlCate {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover .mtl-cate-blur{
      color: $light-red;
    }
  }
  .mtlimg {
    width: 80px;
    height: 80px;
    transition: 0.5s;

    @include pad {
      width: 65px;
      height: 65px;
    }

    @include mobile {
      width: 55px;
      height: 55px;
    }
  }
  .mtlimg > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
  }
  .mtlBtn-l,
  .mtlBtn-r {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .mtlLBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
  }
  .mtlRBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
  }
  $mtlBtnCalc: calc(100vh - 3rem - 15rem);
  $mtlBtnCalcR: calc(100vh - 3rem - 30rem);
  .mtlBtnIn-L,
  .mtlBtnIn-R {
    animation: appear 0.5s ease-in-out;
    max-height: $mtlBtnCalc;
    overflow: scroll;

    // 滾軸樣式
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0;
      background-color: $gray;
      transition: all 0.2s;
      border-radius: 0.5rem;

      &:hover {
        background-color: $logo;
      }
      &:window-inactive {
        opacity: 0;
      }
    }

    &::-webkit-scrollbar-track {
      border-radius: 0;
    }

    @include pad{
      max-height: 100vh;
    }
    @include mobile{
      max-height: 100vh;
    }
  }
  .mtlBtnIn-R {
    max-height: $mtlBtnCalcR;
    min-height: $mtlBtnCalcR;
    display: flex;
    flex-direction: column;

    @include pad{
      max-height: $mtlBtnCalc;
    }
    @include mobile{
      max-height: $mtlBtnCalc;
    }
  }

  .mtlBtnIn-L .mtlLBtn:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  .mtlimg .imgActive {
    border: 5px solid $mtl-border;
    transition: 0.5s;
  }
  .mtlimg .imgActiveNone {
    border: 5px solid transparent;
    transition: 0.5s;
  }
  .mtlimg-r {
    width: 35px;
    height: 35px;
    box-sizing: content-box;
  }
  .mtlimg-r > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .la-btn,
  .ra-btn {
    display: none;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 2rem;
    cursor: pointer;
    position: relative;

    @include pad{
      display: flex;
    }
    @include mobile{
      display: flex;
    }
  }
  .la-btn-box {
    position: absolute;
    opacity: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .logoMtl-box {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    fill: $logo;
    transition: 0.5s;

    @include pad {
      width: 55px;
      height: 55px;
    }

    @include mobile {
      width: 40px;
      height: 40px;
    }
  }

  .mtlname {
    margin-top: 0.5rem;
    @extend .ch-cont-14;
    transition: 0.5s;

    @include pad {
      font-size: 1.2rem;
      line-height: 1.7rem;
      letter-spacing: 0.12rem;
    }
    @include mobile {
      font-size: 1.2rem;
      line-height: 1.7rem;
      letter-spacing: 0.12rem;
    }
  }

  .arrR,
  .arrL {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rectangle {
    margin: 0 0.5rem;
  }
  .rectangle-displaynone{
    display: none;
  }
  .mtl-cate-blur{
    color: $gray;
    transition: 0.3s;
  }

  .layout-title {
    padding: 20px 0 0 30px;
    font-size: 5rem;

    @include pad {
      font-size: 4rem;
    }

    @include mobile {
      font-size: 2.4rem;
      line-height: 3.6rem;
      letter-spacing: 0.54rem;
      padding: 0 0 0 15px;
    }
  }
  .threedArea{
    width: 100%;
    height: 100%;
    // background-color: #aef;
  }

  .trail{
    @extend .en-title-14-10;
    height: 3rem;
    padding-left: 5%;

    @include pad {
      @include mytitle;
      font-size: 1.4rem;
      line-height: 2.1rem;
      letter-spacing: 0.2rem;
    }

    @include mobile{
      @include mytitle;
      font-size: 1.2rem;
      line-height: 1.8rem;
      letter-spacing: 0.08rem;
    }
  }

  .mtlDelIcon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: 0.3s;

    &:hover{
      background-color: $gray;
    }
  }
  .select-add-cart {
    width: 35%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    @include pad{
      display: block;
    }
    @include mobile{
      display: block;
    }
  }
  .select-count{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    & input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
      -webkit-appearance: none;
      margin: 0;
    }
    & button {
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      font-size: 2.5rem;
    }
    & input {
      width: 100%;
      font-size: 1.5rem;
      background: none;
      border: none;
      text-align: center;
    }
    & SVG{
      width: 2rem;
      height: 2rem;
    }
  }

  .cus-detail, .cus-mtl-detial, .manual, .btn-area{
    padding: 1.5rem;
  }
  .cus-mtl-detial{
    display: flex;

    @include mobile{
      flex-wrap: wrap;
    }

    .chart-img, .mtl-detail{
      width: 50%;
      padding: 1.5rem;

      @include mobile{
        width: 100%;
      }
    }
  }
  .search-input-bar {
    height: 6.3rem;
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    border-top: 1px solid $dark-text;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $dark-text;
    text-align: center;
    margin-bottom: 3rem;

    &:focus {
      border-top: 2px solid $dark-bg;
      outline: none;
      border-bottom: 2px solid $dark-bg;
    }
  }

  .cus-value, .cus-printtime, .mtl-name, .origin, .mfd, .rm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .value-r, .printtime-r{
    @extend .en-cont-16;

    @include pad{
      font-size: 1.4rem;
      line-height: 1.8rem;
      letter-spacing: 0.14rem;
    }
    @include mobile{
      font-size: 1.4rem;
      line-height: 1.8rem;
      letter-spacing: 0.14rem;
    }
  }

  .value-l, .printtime-l{
    @extend .en-cont-36;

    @include pad{
      font-size: 2.8rem;
      line-height: 3.7rem;
      letter-spacing: 0.28rem;
    }
    @include mobile{
      font-size: 2.4rem;
      line-height: 3.7rem;
      letter-spacing: 0.28rem;
    }
  }

  .name-l{
    font-size: 2.4rem;
    line-height: 3.7rem;
    letter-spacing: 0.28rem;
  }

  .name-r img{
    width: 4rem;
    height: 4rem;
    background-color: $gray;
    border-radius: 50%;
  }

  .manual{
    display: flex;

    @include pad{
      display: inline;
    }
    @include mobile{
      display: inline;
    }
  }

  .delivery, .mfd-time, .package{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 3rem;
  }

  .btn-area{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-bottom: 5rem;

    @include pad{
      width: 100%;
      justify-content: space-around;
    }
    @include mobile{
      width: 100%;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      background-color: $light-bg;
      margin-bottom: 0;
    }
  }

  .btn-top, .btn-buttom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .select-add-cart {
      width: 20rem;
      display: flex;
      justify-content: space-between;
      margin: 2%;
  
      @include pad{
        display: block;
      }
      @include mobile{
        display: block;
      }
    }
    .select-count{
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
      & input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
      }
      & button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        font-size: 2.5rem;
      }
      & input {
        width: 100%;
        font-size: 1.8rem;
        background: none;
        border: none;
        text-align: center;
      }
      & SVG{
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .cus-detail{
    display: flex;
    margin-bottom: 6rem;

    @include mobile{
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
  }

  .draggable {
    top: auto !important;
    left: auto !important;
  }
  .dragItem {
    background-color: $card-hover;
    border-radius: 10px;
  }
  .cart-icon-add {
    position: relative;
    display: inline-block;
  }
  .layout-cart-btn {
    display: block;
    margin: 0 auto;
    font-size: 25px;
  }
  .cart-num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff5656;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -0.5rem;
    top: 0;
  }

.cus-img{
  width: 50%;
  max-height: 100%;
  text-align : center;
  transition: 0.5S;

  & img{
    width: 100%;
  }

  @include mobile{
    width: 100%;
    height: 70%;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
.cus-img.scrollit{
  width: 100%;
  transition: 0.5S;
}
.dis-choosed{
  display: none;
}
.detail{
  width: 50%;

  @include mobile{
    width: 100%;
    // margin-bottom: 20rem;
  }
}
.mtl-btn{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.detailMtlBtn{
  cursor: pointer;
  width: 7.5rem;
  height: 7.5rem;
  margin: 1rem;

  & img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.5rem solid transparent;

    &:hover{
      border: 0.5rem solid $mtl-border;
      transition: 0.3s;
    }
  }

  & .imgActive {
    border: 5px solid $mtl-border;
    transition: 0.5s;
  }
  & .imgActiveNone {
    border: 5px solid transparent;
    transition: 0.5s;
  }
}
.view{
  width: 50vw;
  height: 100vh;

  @include mobile{
    width: 100vw;
  }
}

@keyframes disappear {
  from{
    transform: translate(0%);
  }
  99%{
    transform: translate(1000%);
  }
  to{
    display: none;
  }
}
@keyframes showIt {
  from{
    transform: translate(1000%);
  }
  to{
    transform: translate(0%);
  }
}

.disappear-block{
  animation: disappear 0.5s ease-in-out;
  transition: 0.5s;
  display: none;
}
.show-block{
  animation: showIt 0.5s ease-in-out;
  transition: 0.5s;
}

}