// @import './../../styles/global.scss';
// .evnts {
//   .latest-news-nav {
//     margin-bottom: 3rem;
//   }
//   .latest-news-category-box {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//   }
//   //   分類的菱形icon
//   .diamond {
//     width: 18.38px;
//     height: 18.38px;
//     border-radius: 2px;
//     transform: rotate(45deg);
//     background-color: $light-red;
//     margin-right: 1rem;
//   }
//   @media screen and (min-width: 576px) {
//     .latest-news-category-box {
//       width: 80%;
//     }
//   }
// }
