@import './../../styles/global.scss';
.evnts-signup {
  .evnts-info-area {
    margin-top: 5%;
  }
  .evnts-info-top-text {
    width: 60%;
  }
  .evnts-title {
    padding-top: 2%;
  }
  .evnts-date,
  .evnts-tag {
    margin-top: 2%;
  }
  .evnts-img {
    width: 30%;
  }
  .evnts-img img {
    width: 100%;
    object-fit: contain;
    box-shadow: 3px 3px 5px 2px rgb(195, 195, 195);
  }
  .evnts-content {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .diamond {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: $light-red;
    transform: rotate(45deg);
    margin-right: 2%;
  }
  .evnts-info {
    display: flex;
    align-items: center;
    margin: 2% 0;
  }
  input.form-control {
    height: 40px;
    padding: 10px 20px;
  }
  .singup-column {
    padding: 0% 1%;
    margin-top: 5%;
  }
  .form-select {
    height: 30px;
    padding: 0 20px;
    border-radius: 2rem;
    border: 1px solid $gray;
  }
  .primeal-btn-outline {
    color: $tint-red;
  }
  .button-group {
    margin: 10% 0;
    display: flex;
    justify-content: center;
  }
  .error {
    padding-left: 2%;
    color: $tint-red;
    font-weight: 500;
  }
  @media screen and (min-width: 577px) {
    .evnts-block {
      display: flex;
      justify-content: space-between;
    }
    .evnts-info-area,
    .evnts-signup-area {
      width: 50%;
      padding: 0 2%;
    }
    .evnts-signup-area {
      margin-top: 2%;
    }
  }
}
