@import './../../styles/global.scss';
.evnts {
  // mobile version
  .latest-news-nav {
    padding-top: 12%;
  }
  .mobile-evnts-detail {
    margin-top: 5%;
  }
  .evnts-date-tag {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
  }
  .evnts-img {
    width: 100%;
  }
  .evnts-img img {
    width: 100%;
    object-fit: contain;
    box-shadow: 3px 3px 5px 2px rgb(195, 195, 195);
  }
  .evnts-info {
    display: flex;
    align-items: center;
    margin: 5% 0;
    padding: 0 5%;
  }
  .info-title {
    white-space: nowrap;
  }
  .diamond {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: $light-red;
    transform: rotate(45deg);
    margin-right: 2%;
  }
  .evnts-content {
    margin-top: 5%;
    margin-bottom: 20%;
    padding: 0 5%;
  }
  .signup-number {
    text-align: center;
  }
  span {
    color: $tint-red;
    font-size: 20px;
    font-weight: 500;
  }
  .signupbtn {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
    cursor: pointer;
  }
  // pc version
  .pc-evnts-detail {
    margin-top: 10%;
    margin-bottom: 20%;
  }
  .pc-evnts-img,
  .pc-evnts-content {
    width: 50%;
  }
  .pc-evnts-img img {
    width: 100%;
    box-shadow: 3px 3px 5px 2px rgb(195, 195, 195);
  }
  .pc-evnts-content {
    padding-left: 5%;
  }
  .pc-evnts-title {
    padding-top: 2%;
  }
  .pc-evnts-date-tag {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }
  .pc-evnts-text {
    margin: 10% 0%;
  }
  .pc-sign-up-hidden .mobile-sign-up-hidden {
    opacity: 0;
  }
  .pc-sign-up-show {
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mobile-sign-up-show {
    opacity: 1;
  }
  .disabled {
    pointer-events: none;
    color: #fff;
    background-color: $gray;
    border-radius: 30px;
    width: 130px;
    height: 34px;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.315rem;
    margin: 5% auto;
  }
  .nopointer {
    pointer-events: none;
  }
  .pc-signupbtn {
    cursor: pointer;
  }
  @media screen and (min-width: 577px) {
    .latest-news-nav {
      padding-top: 0;
    }
    .evnts-info {
      padding: 0;
    }
    .pc-signup-number {
      width: 50%;
    }
    .disabled {
      @include mytitle;
      pointer-events: none;
      color: #fff;
      background-color: $gray;
      border-radius: 30px;
      width: 210px;
      height: 44px;
      border: none;
      font-size: 1.8rem;
      line-height: 1.6rem;
      letter-spacing: 0.16rem;
    }
  }
}
