body {
  // background-color: #212121;
  // color: #ffffff;
}
.home {
  // color: #ffffff;
  // overflow-x: hidden;
  // height: '100vh';
  // background-color: #212121;
  ul {
    padding: 0 0;
    margin: 0 0;
    list-style: none;
  }
  p {
    margin: 0 0;
  }
  /* index-top PC version */
  .pc-index-top {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  /* index content */
  .content-top {
    margin-top: 5rem;
  }
  .process {
    text-align: end;
  }
  .index-cube-img {
    padding: 5rem 1rem;
  }
  .index-cube-img img {
    width: 90%;
  }
  .index-cube-txt {
    padding-top: 18rem;
    padding-left: 1rem;
    padding-bottom: 5rem;
  }
  .index-cube-txt img {
    width: 90%;
  }
  .content-bottom {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
  }
  /* view product */
  .view-product-area {
    margin-top: 1rem;
    font-size: 18px;
  }
  .view-product-arrow {
    margin-right: 2rem;
  }
  /* scroll down */
  .scroll-hint {
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 16px;
  }
  .scroll-down {
    margin-bottom: 0.5rem;
  }
  /* about */
  .about-us-title,
  .page-title {
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 8rem;
  }
  .about-title {
    margin-top: 5rem;
  }
  .about-ch-title,
  .about-en-title {
    text-align: right;
    padding-right: 26px;
  }
  .about-ch-content {
    padding-left: 26px;
    margin-top: 5rem;
  }
  .about-img {
    width: 100%;
    max-height: 350px;
    display: flex;
    justify-content: end;
  }
  .about-img img {
    width: 90%;
  }
  /* promotion */
  .promotion-wrap {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5rem;
  }
  .promotion-list,
  .pagination-list {
    display: flex;
    overflow: hidden;
    flex-flow: row nowrap;
    align-items: center;
    /* animation: infiniteSlide 10s linear 0s infinite;  */
  }
  .promotion-list li {
    flex: 0 0 auto;
    display: block;
  }
  .promotion-card {
    width: 280px;
    height: 476px;
    background-color: #f3bf6f;
    border-radius: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
  }
  .promotion-img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .promotion-img img {
    width: 90%;
    object-fit: contain;
  }
  .promotion-prod-ch-name,
  .promotion-prod-en-name {
    font-size: 28px;
    color: #212121;
    padding-left: 2rem;
  }
  /* just for you */
  .index-category {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #c4c4c4;
  }
  .index-category-name {
    text-align: center;
  }
  .index-category-content {
    padding: 2rem 2rem 2rem;
    margin-bottom: 1rem;
  }
  .lastest-new-content {
    padding: 2rem 2rem 2rem;
    margin-bottom: 4rem;
  }
  .just-for-you-txt {
    padding: 1rem 2rem;
  }
  .jfy-category-content {
    margin-top: 0.5rem;
  }
  .index-view-more {
    margin-bottom: 2rem;
  }
  /* lastest news */
  .index-category-img img {
    width: 100%;
  }
  .news-content-top {
    margin-top: 2rem;
  }
  .news-tag {
    border: 2px solid #841d29;
    border-radius: 20px;
    padding: 0 0.5rem;
  }
  /* footer */
  .footer-top {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-logo {
    border-top: 1px solid #c4c4c4;
    text-align: center;
    padding-top: 1rem;
  }
  .footer-slogan,
  .footer-copy-right {
    text-align: center;
    margin: 1rem 0;
  }
  .footer-link-area,
  .footer-social {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  .footer-link,
  .footer-social-icon {
    margin: 0 0.5rem;
  }
  @media screen and (min-width: 576px) {
    .content-top {
      padding: 0 2rem;
    }
    .index-cube-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .index-cube-img img {
      width: 50%;
    }
    .index-cube-txt {
      text-align: center;
      padding-top: 10rem;
    }
    .index-cube-txt img {
      width: 50%;
    }
    .scroll-hint {
      margin-top: 1rem;
    }
    .about-us-title {
      margin-top: 13rem;
      font-size: 48px;
      text-align: right;
      padding-right: 52px;
    }
    .about-us-text-area {
      width: 40%;
    }
    .about-us-content {
      display: flex;
      justify-content: space-around;
      margin-top: 6rem;
    }
    .about-ch-title {
      padding-right: 0px;
      margin-bottom: 0.5rem;
      font-size: 36px;
    }
    .about-en-title {
      padding-right: 0px;
      font-size: 24px;
    }
    .about-ch-content {
      text-align: right;
      margin-top: 3rem;
    }
    .about-img {
      width: 60%;
      min-height: 500px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .about-img img {
      width: 70%;
    }
    .about-title {
      padding-top: 5rem;
      padding-left: 5rem;
    }
    .index-category {
      margin-top: 5rem;
    }
    .index-category-img {
      display: block;
      width: 50%;
    }
    .index-category-img img {
      width: 100%;
    }
    .index-category-content {
      display: flex;
      justify-content: space-around;
    }
    .just-for-you-txt {
      padding-top: 5rem;
    }
    .index-view-more {
      margin-top: 5rem;
      margin-bottom: 7rem;
    }
    .news-img {
      width: 50%;
    }
    .news-img img {
      width: 100%;
      object-fit: contain;
    }
    .news-right-wrap {
      width: 50%;
    }
    .news-content-top {
      padding-right: 2rem;
      padding-left: 2rem;
      display: flex;
      align-items: center;
    }
    .news-date,
    .news-text {
      padding-left: 2rem;
    }
    .news-text {
      margin-top: 3rem;
    }
    .lastest-new-content {
      padding: 0 0;
      display: flex;
      border-bottom: 1px solid #c4c4c4;
      margin-bottom: 1rem;
    }
    .pagination-dots {
      width: 15px;
      height: 15px;
      margin: 1rem 0.5rem;
      transform: rotate(45deg);
      background-color: #c4c4c4;
    }
    .latest-news-pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .footer-slogan {
      margin-left: 8rem;
      margin-right: 2rem;
    }
    .footer-bottom {
      display: flex;
      align-items: center;
    }
    .footer-link {
      margin: 0 2rem;
    }
    .footer-social {
      justify-content: end;
      margin-right: 2rem;
    }
    .footer-copy-right {
      text-align: right;
      margin-right: 2rem;
    }
  }
}
