@import './../../styles/global.scss';
.home {
  $width: calc(100vw - 25vw);
  width: 100%;
  // color: #ffffff;
  overflow-x: hidden;
  // height: '100vh';
  ul {
    padding: 0 0;
    margin: 0 0;
    list-style: none;
  }
  p {
    margin: 0 0;
  }
  .home-page {
    height: 100vh;
  }
  /* index-top PC version */
  .pc-index-top {
    width: 100%;
    padding-top: 1%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  .page-title {
    height: 7rem;
    line-height: 3.6rem;
    letter-spacing: 0.54rem;
    padding: 10px 0 0 15px;
  }
  /* index content */
  .content-top {
    padding-top: 30%;
  }
  .process {
    text-align: end;
  }
  .index-cube-img {
    padding: 10% 5%;
    display: flex;
    justify-content: center;
  }
  .index-cube-img img {
    width: 80%;
  }
  .index-cube-txt {
    padding-top: 30%;
    padding-left: 5%;
    padding-bottom: 10%;
  }
  .index-cube-txt img {
    width: 80%;
  }
  .content-bottom {
    min-height: 200px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
  }
  /* view product */
  .view-product-area {
    margin-top: 3%;
    font-size: 18px;
  }
  .view-product-arrow {
    margin-right: 2rem;
  }
  /* scroll down */
  .scroll-hint {
    margin-top: 25%;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 16px;
    animation: scrolldown 0.5s alternate ease infinite;
  }
  @keyframes scrolldown {
    from {
      transform: translateY(3px);
    }
    to {
      transform: translateY(-2px);
    }
  }
  .scroll-down {
    margin-bottom: 0.5rem;
  }
  /* about */
  .about-us-title {
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    padding-top: 8rem;
  }
  .about-title {
    margin-top: 5rem;
  }
  .about-ch-title,
  .about-en-title {
    text-align: right;
    padding-right: 26px;
  }
  .about-ch-content {
    padding-left: 26px;
    margin-top: 5rem;
  }
  .about-img {
    width: 100%;
    max-height: 350px;
    display: flex;
    justify-content: end;
  }
  .about-img img {
    width: 90%;
    opacity: 0.5;
  }
  /* promotion */
  .promotion-wrap {
    // max-width: 140rem;
    max-width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  .promotion-list,
  .pagination-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .promotion-list {
    height: 500px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    animation: infiniteSlide 15s linear 0s infinite;
  }
  .promotion-list:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
  @keyframes infiniteSlide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1620px, 0, 0); /*位移值= img的width * img數量*/
    }
  }
  .promotion-list li {
    flex: 0 0 auto;
    display: block;
    cursor: pointer;
  }
  .promotioncard {
    width: 230px;
    height: 345px;
    border-radius: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
    box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.774);
    position: relative;
  }
  .bg0 {
    background-color: #f3bf6f;
  }
  .bg1 {
    background-color: #ca4739;
  }
  .bg2 {
    background-color: #ffca94;
  }
  .bg3 {
    background-color: #7e7422;
  }
  .promotion-tag {
    position: absolute;
    top: 5%;
    right: -12%;
    color: $dark-red;
    font-weight: 500;
  }
  .promotion-img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .promotion-img img {
    width: 70%;
    object-fit: contain;
  }
  .promotion-prod-ch-name,
  .promotion-prod-en-name {
    color: #212121;
    padding-left: 2rem;
    white-space: break-spaces;
  }
  .promotion-prod-en-name {
    width: 90%;
  }
  /* just for you */
  .index-category {
    margin-top: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #c4c4c4;
  }
  .index-category-name {
    text-align: center;
    cursor: pointer;
  }
  .index-category-content {
    padding: 2rem 2rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .latest-new-content {
    padding: 2rem 2rem 2rem;
    // margin-bottom: 4rem;
  }
  .just-for-you-txt {
    padding: 1rem 2rem;
  }
  .jfy-category-content {
    margin-top: 0.5rem;
  }
  .index-view-more {
    padding-top: 5%;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  /* latest news */
  .index-category-img img {
    width: 100%;
  }
  .news-content-top {
    padding-top: 8%;
  }
  .news-title {
    line-height: 2rem;
  }
  .news-text {
    padding-top: 5%;
  }
  .news-tag {
    width: 25%;
    border: 2px solid #841d29;
    border-radius: 20px;
    padding: 0 0.5rem;
    text-align: center;
  }
  .shares-img {
    max-height: 300px;
  }
  .shares-img img {
    width: 100%;
    object-fit: cover;
  }
  .latest-news-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pagination-dots {
    width: 15px;
    height: 15px;
    margin: 1rem 0.5rem;
    transform: rotate(45deg);
    cursor: pointer;
  }
  /* footer */
  .footer-top {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-to-product {
    display: flex;
    justify-content: center;
  }
  .footer-top-img {
    width: 40%;
  }
  .circle-wrap {
    position: relative;
    width: 170px;
    height: 170px;
  }
  .box01,
  .box02,
  .box03 {
    width: 170px;
    height: 170px;
    border-radius: 45%/48%;
    position: absolute;
  }
  .box01 {
    border: 1px solid $light-text;
    animation: rotate 2.5s linear infinite;
  }
  .box02 {
    border: 1px solid $light-red;
    animation: rotate 3s linear infinite;
    left: 3%;
    top: -3%;
  }
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .footer-logo {
    border-top: 1px solid #c4c4c4;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  .footer-slogan,
  .footer-copy-right {
    text-align: center;
    margin: 1rem 0;
  }
  .footer-link-area,
  .footer-social {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  .footer-link,
  .footer-social-icon {
    margin: 0 0.5rem;
    cursor: pointer;
  }
  .asideRight-nav {
    position: fixed;
    top: 45%;
    right: 4%;
    z-index: 4;
    transition: 1s ease-in-out;
  }
  .fadeout {
    transform: translateY(-600px) scale(50%);
    behavior: smooth;
    opacity: 0;
    z-index: 2;
  }
  .asideRight-nav-text {
    padding: 30% 0;
  }
  @media screen and (min-width: 576px) {
    .en-title-14-5 {
      font-size: 2rem;
      line-height: 3.1rem;
      letter-spacing: 0.45rem;
    }
    .en-cont-12 {
      font-size: 1.6rem;
      line-height: 2.1rem;
      letter-spacing: 0.16rem;
    }
    .ch-cont-12 {
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: 0.14rem;
    }
    .en-cont-14 {
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.18rem;
    }
    .en-title-14-10 {
      font-size: 2rem;
      line-height: 3.1rem;
      letter-spacing: 0.45rem;
    }
    .en-title-14-5 {
      font-size: 1.8rem;
    }
    .ch-cont-14 {
      font-size: 1.6rem;
      line-height: 2.6rem;
      letter-spacing: 0.15rem;
    }
    .en-title-24 {
      font-size: 4.8rem;
    }
    .ch-title-18 {
      font-size: 1.6rem;
    }
    .content-top {
      margin-top: 10rem;
      padding: 0 2rem;
      font-size: 2.5rem;
    }
    .scroll-hint {
      margin-top: 8%;
    }
    .promotion-wrap {
      max-width: $width;
    }
    .about-us-title {
      margin-top: 25rem;
      font-size: 48px;
      text-align: right;
      padding-right: 10%;
    }
    .about-us-text-area {
      width: 40%;
    }
    // .about-us-content {
    //   display: flex;
    //   justify-content: space-around;
    //   margin-top: 6rem;
    //   margin-bottom: 15rem;
    // }
    .about-us-content01 {
      display: flex;
      justify-content: space-around;
      margin-top: 6rem;
      margin-bottom: 15rem;
      opacity: 0;
      transition: 1s;
      transform: translateX(100px);
    }
    .about-us-content02 {
      display: flex;
      justify-content: space-around;
      margin-top: 6rem;
      margin-bottom: 15rem;
      opacity: 0;
      transition: 1s;
      transform: translateY(100px);
    }
    .about-us-content03 {
      display: flex;
      justify-content: space-around;
      margin-top: 6rem;
      margin-bottom: 15rem;
      opacity: 0;
      transition: 1s;
      transform: translateX(-100px);
    }
    .about-ch-title {
      padding-right: 0px;
      margin-bottom: 0.5rem;
      font-size: 36px;
    }
    .about-en-title {
      padding-right: 0px;
      font-size: 24px;
    }
    .about-ch-content {
      text-align: right;
      margin-top: 3rem;
    }
    .about-img {
      width: 60%;
      min-height: 500px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .about-img img {
      width: 70%;
    }
    .about-title {
      padding-top: 5rem;
      padding-left: 5rem;
    }
    .index-category {
      margin-top: 10rem;
    }
    .index-category-img {
      display: block;
      width: 50%;
    }
    .index-category-img img {
      width: 100%;
    }
    .index-category-content {
      display: flex;
      justify-content: space-evenly;
    }
    .just-for-you-txt {
      padding-top: 10rem;
    }
    .index-view-more {
      margin-bottom: 20rem;
    }
    .news-title {
      width: 60%;
    }
    .news-tag {
      width: 30%;
    }
    .news-img {
      width: 50%;
    }
    .news-img img {
      width: 100%;
      object-fit: cover;
    }
    .news-right-wrap {
      // padding-top: 3rem;
      width: 50%;
    }
    .news-content-top {
      padding-right: 2%;
      padding-left: 5%;
      display: flex;
      align-items: center;
    }
    .news-date,
    .news-text {
      padding-left: 5%;
    }
    .news-text {
      padding-top: 5%;
      padding-right: 5%;
    }
    .latest-new-content {
      max-height: 500px;
      overflow: hidden;
      padding: 0 0;
      display: flex;
      border-bottom: 1px solid #c4c4c4;
      margin-bottom: 0.5rem;
    }
    .footer-contact {
      width: 50%;
    }
    .footer-link-area {
      width: 50%;
    }
    .footer-bottom {
      display: flex;
      align-items: center;
    }
    .footer-link {
      margin: 0 2rem;
    }
    .footer-social {
      justify-content: end;
      margin-right: 2rem;
    }
    .footer-copy-right {
      text-align: right;
      margin-right: 2rem;
    }
    .back-to-top {
      text-align: center;
      position: fixed;
      width: 100px;
      height: 100px;
      right: 3%;
      bottom: 2%;
      z-index: 100;
      cursor: pointer;
      animation: easein 0.5s alternate ease-in;
      animation: backtotop 0.5s alternate ease infinite;
    }
    @keyframes backtotop {
      from {
        transform: translateY(2px);
      }
      to {
        transform: translateY(-1px);
      }
    }
    .back-to-top-text {
      margin-bottom: 1rem;
    }
    @keyframes easein {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
    @media only screen and (min-width: 577px) and (max-width: 960px) {
      .en-title-24 {
        font-size: 4.8rem;
      }
      .news-text {
        font-size: 1.4rem;
      }
      .content-bottom {
        height: 250px;
      }
      .index-cube-img {
        display: flex;
        padding: 5%;
        padding-left: 10%;
      }
      .index-cube-img img {
        width: 80%;
      }
      .index-cube-txt {
        text-align: center;
        padding-top: 15%;
      }
      .index-cube-txt img {
        width: 80%;
      }
      .shares-img {
        max-height: 300px;
      }
      .back-to-top {
        width: 80px;
        height: 80px;
        right: 1.5%;
        bottom: 2%;
      }
      .back-to-top-text {
        margin-bottom: 0.8rem;
      }
    }
    @media screen and (min-width: 961px) {
      .content-bottom {
        height: 400px;
      }
      .news-title {
        font-size: 2rem;
      }
      .news-tag,
      .news-date {
        font-size: 1.6rem;
      }
      .news-text {
        padding-top: 15%;
        font-size: 1.6rem;
      }
      .index-cube-img {
        display: flex;
        padding: 5%;
        padding-left: 10%;
      }
      .index-cube-img img {
        width: 70%;
      }
      .index-cube-txt {
        text-align: center;
        padding-top: 10%;
      }
      .index-cube-txt img {
        width: 50%;
      }
      .shares-img {
        max-height: 500px;
      }
    }
  }
}
