@import './../../styles/global.scss';
.news {
  a:-webkit-any-link {
    text-decoration: none;
  }
  // mobile version
  .latest-news-nav {
    padding-top: 12%;
  }
  .mobile-news-detail {
    margin-top: 5%;
  }
  .news-date-tag {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
  }
  .news-img {
    width: 100%;
  }
  .news-img img {
    width: 100%;
    object-fit: contain;
    box-shadow: 3px 3px 5px 2px rgb(195, 195, 195);
  }
  .news-content {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .news-warning {
    margin-bottom: 20%;
  }
  // pc verson
  .pc-news-detail {
    margin-top: 10%;
    margin-bottom: 20%;
  }
  .pc-news-img,
  .pc-news-content {
    width: 50%;
  }
  .pc-news-img img {
    max-width: 100%;
    height: auto;
    box-shadow: 3px 3px 5px 2px rgb(195, 195, 195);
  }
  .pc-news-title {
    padding-top: 2%;
  }
  .pc-news-content {
    padding-left: 5%;
  }
  .pc-news-date-tag {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }
  .pc-new-text {
    margin: 10% 0%;
  }
  @media only screen and (min-width: 577px) {
    .ch-cont-16 {
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: 0.14rem;
    }
    .latest-news-nav {
      padding-top: 0;
    }
  }
}
