.entry {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212121;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  .entry-logo,
  .ch-logo,
  .loading-txt {
    text-align: center;
  }
  .logo-area {
    margin-bottom: 3rem;
  }
  .progress {
    height: 25px;
    width: 250px;
    border-radius: 2rem;
    background-color: #c4c4c4;
    margin-top: 1rem;
  }
  .progress-done {
    transition: 1s ease 0.3s;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    background: #b03342;
    box-shadow: 2px 0px 3px -5px #b03342;
    animation: progressbar 3s ease-in-out;
  }
  @keyframes progressbar {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  ul {
    display: flex;
  }
  ul li {
    list-style: none;
    animation: animate 2s infinite;
  }
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotateY(90deg) translateX(-20px);
    }
    50% {
      opacity: 1;
      transform: rotateY(0deg);
    }
    100% {
      opacity: 0;
      transform: rotateY(0deg);
    }
  }
  ul li:nth-child(1) {
    animation-delay: 0s;
  }
  ul li:nth-child(2) {
    animation-delay: 0.1s;
  }
  ul li:nth-child(3) {
    animation-delay: 0.2s;
  }
  ul li:nth-child(4) {
    animation-delay: 0.3s;
  }
  ul li:nth-child(5) {
    animation-delay: 0.4s;
  }
  ul li:nth-child(6) {
    animation-delay: 0.5s;
  }
  ul li:nth-child(7) {
    animation-delay: 0.6s;
  }
  ul li:nth-child(8) {
    animation-delay: 0.7s;
  }
  ul li:nth-child(9) {
    animation-delay: 0.8s;
  }
  ul li:nth-child(10) {
    animation-delay: 1s;
  }
  .loading-txt {
    color: #ffffff;
    font-size: 20px;
  }
  .entry-logo {
    width: 140px;
    height: 140px;
    margin: 0 auto;
  }
  .entry-logo img {
    width: 100%;
  }
  .ch-logo {
    width: 93px;
    height: 55px;
    margin: 0 auto;
  }
  .ch-logo img {
    width: 100%;
  }
  @media screen and (min-width: 577px) {
    .entry-logo {
      width: 204px;
      height: 204px;
      margin: 0 auto;
    }
    .entry-logo img {
      width: 100%;
    }
    .ch-logo {
      width: 151px;
      height: 90px;
      margin: 0 auto;
    }
    .ch-logo img {
      width: 100%;
    }
  }
}
