@import './../../../styles/global.scss';
.filter-area {
  .filter-top {
    float: right;
    display: flex;
    margin-bottom: 10%;
  }
  .clean-filter {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .cancel-filter {
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cancel-filter:hover {
    background-color: rgb(232, 232, 232);
    border-radius: 50%;
  }
  .by-date {
    clear: both;
  }
  .by-date-title,
  .by-category-title,
  .by-status-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
  }
  .title-diamond {
    padding: 0.5% 1%;
  }
  .diamond {
    margin-bottom: 1%;
    margin-right: 1%;
    width: 18.38px;
    height: 18.38px;
    border-radius: 2px;
    transform: rotate(45deg);
    background-color: $light-red;
  }
  .title-right {
    display: flex;
    align-items: center;
  }
  .down-arrow {
    display: block;
    cursor: pointer;
  }
  .title-diamond {
    padding: 0% 1%;
  }
  .by-date-input {
    //   display: none;
    margin: 3% 1%;
  }
  .by-date-input input {
    margin: 5% 10%;
    width: 80%;
    height: 50px;
    font-size: 1.8rem;
    background: none;
    border: none;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
    text-align: center;
  }
  .by-date-input input::placeholder {
    color: #c4c4c4;
  }
  .by-date-input input:focus {
    outline-color: $gray;
  }
  .by-date-dash-line {
    margin: 0 auto;
    width: 1%;
    height: 25px;
    border-right: 1px solid #545454;
    border-bottom: none;
  }
  .category-tag-box {
    //   display: none;
    margin-top: 3%;
    width: 100%;
  }
  input.category-check {
    width: 25px;
    height: 25px;
    margin: 2%;
  }
  .category-checkbox-box {
    display: flex;
    align-items: center;
    margin-top: 2%;
    padding-left: 0.5%;
  }
  .label-box {
    max-width: 90px;
    display: flex;
    align-items: center;
  }
  .label-box label {
    margin-bottom: 0;
  }
  // .category-tag {
  //   width: 40%;
  //   height: 100%;
  //   text-align: center;
  //   margin-right: 1.5%;
  //   margin-bottom: 1.5%;
  //   padding: 0.5% 1% 0.5% 1%;
  //   border: 1px solid #b03342;
  //   color: #b03342;
  //   border-radius: 25px;
  //   cursor: pointer;
  // }
  // .category-tag:hover {
  //   /*TODO: 點擊變色*/
  //   color: #ffffff;
  //   background-color: #b03342;
  // }
  .send-filter-btn-box {
    float: none;
    text-align: center;
    margin: 20% 0 10% 0;
  }
  @media only screen and (min-width: 577px) and (max-width: 960px) {
    .down-arrow {
      display: none;
    }
    .by-date-input {
      display: flex;
      align-items: center;
    }
    .by-date-input input {
      width: 50%;
      margin: 5%;
    }
    .category-tag {
      width: 30%;
      margin-right: 3%;
      margin-bottom: 3%;
    }
    .send-filter-btn-box {
      float: right;
      margin: 0 6% 10% 0;
    }
  }
  @media only screen and (min-width: 961px) {
    .down-arrow {
      opacity: 0;
    }
    .by-date-input {
      display: flex;
      align-items: center;
    }
    .by-date-input input {
      width: 50%;
      margin: 5%;
    }
    .category-tag {
      width: 20%;
      margin-right: 3%;
      margin-bottom: 3%;
    }
    .send-filter-btn-box {
      float: right;
      margin: 0 6% 10% 0;
    }
  }
}
