@import '../../styles/global.scss';
$share-min-height: calc(64.5vh);

$upload-min-height: calc(47vh);

$post-min-height: calc(47vh);

$saves-min-height: calc(47vh);

$edit-min-height: calc(78.7vh);

.mysharebutton {
  border-radius: 30rem;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 1px solid #505050;
  height: 4rem;
  line-height: 1;
  transition: 0.1s;
}
.mysharebutton:hover {
  background-color: $tint-red;
  border: 1px solid $tint-red;
}

.mysharebutton a {
  color: $dark-bg;
}
.mysharebutton:hover a {
  color: white;
  text-decoration: none;
}

.share-bread {
  margin-top: 0%;
}

.share-display-none {
  display: none;
}
.large-del {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.1s;
}
.large-del:hover {
  opacity: 1;
}

.share-filter-top {
  float: right;
  display: flex;
}
.share-min-height {
  margin: 0;
  min-height: $share-min-height;
}

.upload-min-height {
  margin: 0;
  min-height: $upload-min-height;
}

.post-min-height {
  margin: 0;
  min-height: $post-min-height;
}

.saves-min-height {
  margin: 0;
  min-height: $saves-min-height;
}

.edit-min-height {
  margin: 0;
  min-height: $edit-min-height;
}

.ml-100 {
  margin-left: 100px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-45 {
  margin-top: 45px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-90p {
  margin-right: 20%;
}

.form-min-height {
  height: 667px;
}

.share-input::placeholder {
  opacity: 0.5 !important;
}

.tag-form {
  min-height: 250px;
}

.filter-container {
  margin-right: 10%;
  margin-top: 80px;
  padding: 0 70px;
}

.filter-container-num {
  color: $tint-red;
  font-size: 14px;
  font-weight: bold;
}
.waterfall-container {
  padding: 0 100px;
}

.image-list-img {
  cursor: pointer;
}

.search-input {
  width: 300px;
  overflow: hidden;
  height: 40px;
}

.search-input-bar {
  height: 40px;
  padding: 8px;
  width: 80%;
  background-color: transparent;
  border-top: 1px solid $dark-text;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $dark-text;
  transition: 0.3s;
}

.search-input-bar:focus {
  border-top: 2px solid $dark-bg;
  outline: none;
  border-bottom: 2px solid $dark-bg;
}

.items-box {
  display: flex;
  flex-direction: row;
}

.img-section {
  position: relative;
}

.popup-section {
  display: flex;
}

.message-section {
  width: 0;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.message-section-box,
.detail-section-box {
  margin-left: 180px;
  margin-right: 30px;
  margin-top: 80px;
}

.detail-section {
  width: 0;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.comment-header {
  position: relative;
}
.detail-header {
  position: relative;
}

.comment-section {
  position: relative;
  max-height: 500px;
  overflow-y: scroll;
}

.info-section {
  position: relative;
  width: 312px;
}

.img-title-box {
  overflow: hidden;
}

.img-title {
  font-family: 'title';
  font-size: 2.2rem;
  line-height: 2.2rem;
  letter-spacing: 0.22rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-section::-webkit-scrollbar,
.info-section::-webkit-scrollbar {
  width: 8px;
}

.comment-section::-webkit-scrollbar-track,
.info-section::-webkit-scrollbar-track {
  background: #f7f6f3; /* color of the tracking area */
}

.comment-section::-webkit-scrollbar-thumb,
.info-section::-webkit-scrollbar-thumb {
  background-color: rgb(223, 223, 223);
  border-radius: 30px;
  // display: none;
}

.my-comment {
  position: relative;
  width: 100%;
}

.comment-textarea {
  width: auto;
  border: 1px solid #575757;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: transparent;
  resize: none;
}

.comment-textarea::placeholder {
  transform: translateX(-10px);
}

.comment-textarea::-webkit-scrollbar {
  display: none;
}

.img-section-left {
  position: relative;
  transform: translateX(-250px);
}

.edit-del-button {
  width: 45px;
  height: 45px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: -5px;
}

.button-default {
  width: 45px;
  height: 45px;
  padding: 10px;
  cursor: pointer;
}

.button-default-lg {
  width: 50px;
  height: 50px;
  padding: 0px;
  cursor: pointer;
}

.del-button {
  width: 45px;
  height: 45px;
  padding: 10px;
  position: absolute;
  top: -5px;
  left: -80px;
  cursor: pointer;
}

.col-button {
  width: 45px;
  height: 45px;
  padding: 10px 5px;
  cursor: pointer;
}

.message-button {
  width: 45px;
  height: 45px;
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 25px;
  cursor: pointer;
}

.message-button-move {
  animation-duration: 3s;
  animation-name: buttonmove;
}

.upload-del-button {
  cursor: pointer;
  opacity: 0.4;
}

.message-button:hover,
.info-button:hover,
.del-button:hover,
.edit-del-button:hover,
.button-default:hover,
.col-button:hover,
.button-default-lg:hover,
.upload-del-button:hover {
  background-color: #e2e2e2;
  border-radius: 50%;
  transition: none;
  opacity: 1;
}

.info-button {
  width: 45px;
  height: 45px;
  padding: 10px;
  position: absolute;
  top: 120px;
  right: 25px;
  cursor: pointer;
}

.img-info {
  position: relative;
  width: 750px;
}

.tag-box {
  width: 312px;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-right: 3%;
  margin-bottom: 3%;
  padding: 5px 10px;
  border: 1px solid #b03342;
  color: #b03342;
  border-radius: 30px;
  cursor: pointer;
}
.tag:hover {
  /*TODO: 點擊變色*/
  color: #ffffff;
  background-color: #b03342;
}

.profile-section {
  position: relative;
}

.profile-img-lg {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img-lg img {
  width: 100%;
  height: auto;
}

.profile-name {
  @extend .en-title-24;
}

.profile-img {
  width: 60px;
  height: 60px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 50%;
  overflow: hidden;
}

.profile-img img {
  width: 100%;
  height: auto;
}

.profile-img-sm {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img-sm img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.save-button {
  width: 150px;
  height: 44px;
  border: none;
}

.save-button-sm {
  width: 81px;
  height: 34px;
  border: none;
}

.save-button-sm-border {
  width: 81px;
  height: 34px;
  border: 1px solid #b03342;
}

.img-container-mask {
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}

.img-big-container {
  position: relative;
  transition: 0.2s;
}

.img-container {
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.img-arrow-left {
  position: absolute;
  left: 10px;
  $top: calc(50% - 20px);
  top: $top;
  cursor: pointer;
  opacity: 0.6;
}

.img-arrow-right {
  position: absolute;
  right: 10px;
  $top: calc(50% - 20px);
  top: $top;
  cursor: pointer;
  opacity: 0.6;
}

.img-arrow-left:hover,
.img-arrow-right:hover {
  opacity: 1;
}

.img-container img {
  max-width: 100%;
  max-height: 500px;
}

.img-carousel {
  position: relative;
  width: 750px;
}

.small-img-container {
  width: 80px;
  height: 80px;
  margin: 0 10px;
}

.small-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-desc {
  width: 700px;
}

.topic-box {
  position: relative;
  margin: 0 50px;
}

.topic-rect {
  position: absolute;
  top: 5px;
  left: -32px;
}

.topic-link {
  @extend .en-title-24;
  text-decoration: none;
  color: $gray;
  transition: 0.1s;
}
.topic-link:hover {
  color: $dark-bg;
}

.subtopic-link {
  @extend .ch-cont-16;
  text-decoration: none;
  color: $gray;
  line-height: 2.1;
  cursor: pointer;
}

.topic-link:link,
.subtopic-link:link {
  text-decoration: none;
}

.topic-link:hover,
.subtopic-link:hover {
  transition: 0.2s;
  color: $dark-bg !important;
}

.topic-link:active,
.subtopic-link:active {
  color: $dark-bg;
}

.myshare-layout {
  min-height: $upload-min-height;
}

.preview-img {
  height: 25vh;
}

.preview-img img {
  width: 100%;
  animation: opacity 0.5s;
}
.saves-table {
  table-layout: fixed;
}

.saves-table tr,
.saves-table th {
  color: $dark-text;
  line-height: 35px;
  min-height: 35px;
  height: 35px;
}

.saves-table tbody td {
  @extend .ch-cont-14;
  line-height: 35px;
}

.share-item-button {
  @extend .primeal-btn-sm;
}

.comment-history {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

.share-edit-header {
  @extend .ch-title-22;
}

.share-edit-title {
  @extend .ch-title-14;
}

.share-edit-attach {
  margin: 0;
  width: 100%;
  height: 250px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23333' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");

  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.edit-preview-box {
  width: 100%;
  border-radius: 30px;
  border: 1px solid $gray;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.edit-preview-title {
  padding: 0 20px;
  width: 100%;
  position: relative;
}

.share-edit-preview {
  width: 100%;
  height: 220px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.55);
}

.share-edit-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.hashtag-box {
  width: 100%;
}

.hashtag-tag {
  max-width: 100%;
  height: 32px;
  padding: 0.5% 1.5%;
  margin-right: 1.5%;
  margin-bottom: 10px;
  border: 1px solid $dark-text;
  border-radius: 20px;
}

.filter-hashtag-tag {
  // max-width: 100%;
  height: 32px;
  padding: 0 1.5%;
  margin-right: 1.5%;
  margin-bottom: 10px;
  border: 1px solid $dark-text;
  border-radius: 20px;
}

.hash-tag-red {
  height: 32px;
  padding: 0.5% 1.5% 0.5% 1.5%;
  margin-right: 1.5%;
  margin-bottom: 10px;
  border: 1px solid #b03342;
  color: #b03342;
  border-radius: 25px;
  cursor: pointer;
  // background-color: #b03342;
}

.hash-tag-red:hover {
  color: #ffffff;
  background-color: #b03342;
}

.hashtag-tag-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag-input {
  position: relative;
}
.tag-input-plus {
  position: absolute;
  top: 20%;
  right: 2%;
  cursor: pointer;
}

.comment-history-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// .filter-panel-mask {
//   background-color: $light-bg;
//   z-index: -1;
//   position: absolute;
//   top: 0;
//   width: 75%;
//   left: 12.5%;
//   height: 200px;
// }

.filter-panel {
  background-color: $light-bg;
  overflow: hidden;
  position: fixed;
  top: 20%;
  width: 75%;
  right: 12.5%;
  transition: 0.3s;
}

.col-controller-panel {
  position: relative;
  padding: 20px 50px;
  z-index: 3;
  width: 75%;
  height: 20%;
  position: fixed;
  top: 0;
  right: 12.5%;
  transition: 0.3s;
  // border-bottom: 1px solid $gray;
  background-color: $light-bg;
}

.col-controller-del-btn {
  position: absolute;
  top: 45%;
  right: 9%;
}

.heart-beat-on {
  animation: heartbeat 0.5s;
}

.fade-out-bg {
  animation: fadeOutBg 0.5s;
}

@keyframes opacity {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeOutBg {
  0% {
    background-color: #eed19a;
    transform: translateY(-50%);
    opacity: 0.7;
  }
  30% {
    background-color: #eed19a;
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    background-color: transparent;
  }
}

@media screen and (max-width: 1400px) {
  .items-box {
    flex-direction: column;
  }
  .img-info {
    width: 500px;
  }
  .message-section-box,
  .detail-section-box {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 80px;
  }
  .info-section {
    width: 100%;
  }
  .tag-box {
    width: 100%;
  }

  .message-section,
  .detail-section {
    width: 100%;
  }
  .message-button,
  .info-button,
  .del-button {
    display: none;
  }
}

@media only screen and (min-width: 577px) and (max-width: 960px) {
  .filter-container {
    margin-top: 0;
    padding: 0;
  }

  .waterfall-container {
    padding: 0 30px;
  }

  .img-info,
  .img-desc,
  .img-carousel {
    width: 400px;
  }

  .save-button {
    width: 81px;
    height: 34px;
    border: none;
  }

  .small-img-container {
    width: 80px;
  }

  .popup-section {
    flex-direction: column;
  }

  .message-section,
  .detail-section {
    width: 100%;
  }
  .cate-disabled {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .share-bread {
    margin-top: 10%;
  }

  .filter-container {
    margin-top: 0;
    padding: 0;
  }
  .waterfall-container {
    padding: 0 15px;
  }

  .save-button {
    width: 81px;
    height: 34px;
    border: none;
  }

  .img-info,
  .img-desc,
  .img-carousel {
    width: 100%;
  }
  .small-img-container {
    width: 60px;
    height: 60px;
  }

  .profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(224, 224, 224);
  }

  .img-title {
    font-size: 1.8rem;
    line-height: 1.6rem;
    letter-spacing: 0.16rem;
  }
  .popup-section {
    flex-direction: column;
  }
  .message-section-box,
  .detail-section-box {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
  }

  .profile-name {
    font-size: 2rem;
    line-height: 3.1rem;
    letter-spacing: 0.45rem;
  }

  .profile-img-lg {
    width: 100px;
    height: 100px;
  }

  .topic-link {
    font-size: 1.8rem;
    line-height: 3.1rem;
    letter-spacing: 0.45rem;
  }
  .cate-disabled {
    display: none;
  }

  .share-item-button {
    width: 81px;
    height: 34px;
    border: none;
  }
  .comment-title-wrap {
    display: block;
  }

  .share-edit-header {
    font-size: 1.8rem;
    line-height: 1.6rem;
    letter-spacing: 0.16rem;
  }
  .search-input {
    width: 130px;
  }
}
