@import './../../styles/global.scss';
  .bread{
    padding-left: 2.5%;
  }
  @media screen and (max-width: 576px){
    .bread{
      padding-left: 4.5%;
    }
  }

  .classic-detail{
    //有-ondetail後綴字的都是按了呈現詳細資料後的CSS

    //去掉input focus時的框線
    input:focus{
      outline: none;
    }    
    .detail-content{
        margin: 0 auto;  
        display: flex;
        width: 80%;
        margin-bottom: 1%; 
        transition: 1.5s;          
    }
    .detail-content-ondetail{
      margin: 0 20% 0 0;
      display: flex;
      width: 90%;       
      transition: 1.5s;          
  }  
    .prod-img-box{
        position: relative;        
        width: 50%; 
    }
    .prod-img-box-ondetail{
      position: relative;
      width: 100%;    
      text-align: center;
  }

    .prod-img-box-img{
        width: 70%; 
        height: auto;
        object-fit: cover;
        padding: 10%;
    }
    .prod-img-box-img-ondetail{      
      width: 35%;    
      height: auto;
      object-fit: cover;
      padding: 8%;
  }
    .all-size-title{
      display: none;   
      position: absolute;
      width: 20%;
      top: 12%;
      left: 10%;
    }
    .all-size-title-ondetail{
      display: block;  
      position: absolute;
      width: 40%;
      top: 12%;
      //left: 10%;
    }
    .material-tag-group{      
      display: none;   
      position:absolute;
      top: 20%;
      right: 10%;
      width: 15%;
    }
    .material-tag-group-ondetail{
      display: block;  
      position:absolute;
      top: 17%;
      right: 10%;
      width: 15%;
    }
    .material-tag-box{
      margin-bottom: 20%;
      width: 65px;
      height: auto;  
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;    
    }
    .material-tag-box.click{
      position: relative;
      right: 4%;
      width: 75px;
      outline: 7px solid #EED19A;
    }
    .material-tag-box img{
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .prod-detail-right{
        width: 50%;  
    } 
    .prod-detail-right-ondetail{      
      width: 0%;    
      height: 0px;   
      overflow: hidden;    
  }  
    .like-heart{
        margin-bottom: 10%;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }    
    .prod-price, .prod-printtime, .prod-desc{        
        color: #545454;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10%;
    }
    .prod-stock, .prod-print, .prod-desc-title{
        color: #c4c4c4;
        display: flex;
        align-items: flex-end;        
    }   
    .prod-desc-content{
        width: 50%;
    } 
    .recommend-ch-title, .recommend-en-title{
        text-align: center;
        color: #545454;
    }
    .recommend-en-title{
        margin: 0.5% 0 5% 0;
    }
    .recommend-prod-box{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2%;
    }
    .prod-card {
        width: 22%;
        height: auto;
        margin-bottom: 5%;
        padding-bottom: 2%;
        transition: transform 0.5s;
        cursor: pointer;
    }
    .prod-card:hover{   
        background-color: #ffffff;
        transform: scale(1.1);
        transition: transform 0.6s;
    }
    .share-card {
      width: 22%;
      height: auto;
      margin-bottom: 5%;
      padding-bottom: 2%;
      transition: transform 0.5s;
      cursor: pointer;
  }
    .recommend{
        margin-top: 20%;
    }
    .recommend-prod-img-box {
        position: relative;
        width: 95%;
        height: auto;
    }
    .recommend-prod-img-box img {
        width: 90%;
        height: auto;
        object-fit: cover;
        padding: 12%;
    }
    .share-item-img-box{
      position: relative;
      width: 95%;
      height: 300px;
      overflow: hidden;
    }
    .share-item-img-box img{
        width: 90%;
        height: auto;
        object-fit: cover;
    }
    .discount-tag {
        position: absolute;
        right: 10%;
        top: 12%;
      }
      .discount-tag-content {
        background-color: #841d29;
        color: #ffffff;
        width: 60px;
        border-radius: 15px;
        padding: 5% 15%;
        text-align: center;
        margin-left: 0%;
      }
      .prod-name-ch {
        padding-left: 6%;
      }
      .prod-name-en {
        padding-top: 1%;
        padding-left: 6%;
      }
      .prod-price-special {
        padding-top: 5%;
        display: flex;        /*切換特價標籤*/
        width: 88%;
        padding-right: 5%;
        margin: 0 auto;
        justify-content: space-between;
      }
      .original-price {
        padding-top: 2%;
        text-decoration-line: line-through;
        color: #c4c4c4;
      }
      .special-price {
        color: #b03342;
      }
      .prod-price-no-discount{        
        width: 88%;
        padding-right: 5%;
        margin: 0 auto;  
      }
      .share{
        margin-top: 5%;
      }
      .no-discount{
          float: right;
          padding-top: 2%;    
          color: #212121;
      }
      .prod-detail-content{
        display: none;  
        width: 90%;
        margin: 0 auto;
      }
      .prod-detail-content-ondetail{        
        display: block;  
        width: 90%;
        margin: -2% auto;
      }
      .select-add-cart{        
        display: flex;
        width: 50%;
        padding-right: 5%;
        margin: 0 0 5% auto;
        justify-content: space-between;
    }
    .select-count{
        display: flex;
        justify-content: space-between;
        width: 40%;    
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;  
    }
    /*隱藏input(number)的上下選擇按鈕*/
.select-count input::-webkit-outer-spin-button,
.select-count input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.select-count button{
    border:none;
    background: none;
	padding: 0;
	cursor: pointer;
    font-size: 2.5rem;
}
.select-count input{
    width: 50%; 
    font-size: 1.8rem;     
    background: none;
    border: none;
    text-align: center;      
}
.back-btn{
  display: none;   
  float: right; 
  padding-top: 8%;
  padding-right: 6%;
  cursor: pointer;
}
.back-btn-ondetail{  
  float: right;   
  display: flex;      
  padding-top: 8%;
  padding-right: 6%;
  cursor: pointer;
}
.detail-btn{  
  float: right;
  display: flex;   
  padding-top: 3%;
  padding-right: 6%;
  cursor: pointer;
}
.detail-btn-ondetail{
  display: none;   
  float: right;
  padding-top: 6%;
  padding-right: 6%;
  cursor: pointer;
}
      .nutrition-img{
        width: 50%;
        height: auto;
        text-align: center;
      }
      // .nutrition-img img{
      //     width: 65%;
      //     height: auto;
      //     object-fit: cover;
      // }
      .nutrition-img-box{
        display: block;
        width: 370px;
        margin: 0 10% 0 5%;
      }
      .nutrition-img-box-mobile{
        display: none;
      }
      .material-list{
        width: 45%;
        padding-top: 5%;
      }
      .material-name{
        display: flex;
        justify-content: space-between;
      }
      .material-img{
        width: 30px;
        border-radius: 50%;
        overflow: hidden;
        height: auto;
      }
      .material-img img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .detail-content-top{
        display: flex;
      } 
      .material-item{
        margin-top: 10%;
        display: flex;
        justify-content: space-between;
      }
      .material-content{
          color: #545454;
      }
      .detail-content-bottom{
        display: flex;
        margin-top: 5%;
      }
      .carrier-type, .expire, .package{
        color: #575757;
      }
      .carrier-type{        
        width: 33%;
      }
      .expire, .package{
        display: flex;  
        justify-content: flex-end;        
        width: 33%;
      }
      

    // RWD變數
  //   @mixin pad {
  //     @media only screen and (min-width: 577px) and (max-width: 960px) {
  //         @content;
  //     }
  //   }
  //   @mixin mobile {
  //     @media screen and (max-width: 576px) {
  //       @content;
  //       .prod-detail-right{
  //           width: 0%;
  //       }
  //       .last-recommend{
  //         display: none;
  //       }
  //   }
  // }
  @media screen and (max-width: 576px) {    
    .last-recommend{
      display: none;
    }
    .detail-toggle-btn{
      display: none;
    }
    .prod-card{
      width: 40%;
    }
    .share-card{
      width: 40%;
    }
    .prod-detail-content, .prod-detail-content-ondetail{
      display: block;
    }    
    .detail-content-bottom{
      display: block;
    }
    .carrier-type, .expire, .package{
      display: block;
      width: 90%;
      margin-bottom: 3%;
    }
    .material-list{
      display: none;
    }
    .detail-content-top{
      display: block;
    }
    .nutrition-img{
      width: 100%;
    }
    .select-add-cart{
      display: block;
      width: 90%;
    }
    .select-count{
      width: 70%;
      margin: 0 auto;
    }
    .detail-content, .detail-content-ondetail{
      margin: 0 auto;
      display: block;
    }
    .prod-detail-right, .prod-detail-right-ondetail{
      width: 100%;
      height: auto;
    }
    .prod-img-box{
      display: block;
      width: 100%;
      text-align: center;
    }
    .all-size-title-ondetail, .material-tag-group-ondetail{
      display: none;
    }
    .add-cart{
      margin: 10% 30%;
    }
    .discount-tag-content{
      padding: 3% 10%;    
      margin-left: 15%;
    }
    .prod-img-box-img-ondetail{      
      width: 50%;    
      height: auto;
      object-fit: cover;
      padding: 5%;
    }
    .nutrition-img-box{
      display: none;      
    }
    .nutrition-img-box-mobile{
      display: block;
      width: 330px;
      margin: 0 auto;
    }
    .recommend-prod-box{      
      margin-bottom: 10%;
    }
    .share-item-img-box{
      height: 150px;
    }
  }



  // 字體RWD
  .ch-title-big {
    @extend .ch-title-40-20;
    transition: 0.5s;
    @include pad {
        @include mytitle;
        font-size: 2.6rem;
        line-height: 2.6rem;
        letter-spacing: 0.26rem;

      }
    @include mobile {
        @include mytitle;
        font-size: 2.2rem;
        line-height: 2.2rem;
        letter-spacing: 0.22rem;
    }
  }
  .eh-title-big {
    @extend .en-title-20;
    transition: 0.5s;
    @include pad {
        @include mytitle;
        font-size: 1.6rem;
        line-height: 2.8rem;
        letter-spacing: 0.4rem;
      }
    @include mobile {
        @include mytitle;
        font-size: 1.4rem;
        line-height: 2.6rem;
        letter-spacing: 0.35rem;
    }
  }
  .ch-title-large{
    @extend .ch-title-40-20;
    transition: 0.5s;
    @include pad {
        @include mytitle;
        font-size: 2.8rem;
        line-height: 2.8rem;
        letter-spacing: 0.28rem;
      }
    @include mobile {
        @include mytitle;
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.24rem;
    }
  }
  .en-title-mid{
    @extend .en-title-18;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    @include pad {
        @include mytitle;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.06rem;
      }
    @include mobile {
        @include mytitle;
        font-size: 1.4rem;
        line-height: 1.8rem;
        letter-spacing: 0.05rem;
    }
  }
  .ch-content-sm{
    @extend .ch-cont-14;
    transition: 0.5s;
    @include pad {
        @include mytitle;
        font-size: 1.4rem;
        line-height: 2rem;
        letter-spacing: 0.14rem;
      }
    @include mobile {
        @include mytitle;
        font-size: 1.3rem;
        line-height: 2rem;
        letter-spacing: 0.14rem;
    }
  }


}

  .bread{
    padding-top: 15%;
  }
   @media screen and (min-width: 576px) {
   .bread{
     padding-top: 0%;

}
}