@import './../../styles/global.scss';

.classic-history-title {
  color: #212121;
  cursor: pointer;
  position: fixed;
  bottom: 4%;
  right: 4%;
}
.classic-history-img-list {
  position: fixed;
  bottom: 10%;
  right: 3.7%;
  transition: transform 0.5s;
}
.classic-history-img-box {
  border-radius: 50%;
  background-image: url('./iconbg.png');
  background-size: 90px 90px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 5% auto;
  cursor: pointer;
}
.openHistoryStyle {
  transform: translateX(0px);
}
.closeHistoryStyle {
  transform: translateX(200px);
}
.classic-history-img-box img {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin: auto;
}
.classic-history-name {
  text-align: center;
}

.classic {
  .main-content {
    /* display: none; */
  }
  //去掉input focus時的框線
  input:focus {
    outline: none;
  }

  .classic-search-btn,
  .classic-filter-btn {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .classic-search-btn:hover {
    background-color: rgb(232, 232, 232);
    border-radius: 50%;
  }
  .classic-filter-btn:hover {
    background-color: rgb(232, 232, 232);
    border-radius: 50%;
  }
  .search-filter {
    display: flex;
    justify-content: flex-end;
  }
  .search-input {
    width: 200px;
  }
  .search-input-bar {
    height: 40px;
    padding: 8px;
    width: 80%;
    background-color: transparent;
    border-top: 1px solid $dark-text;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $dark-text;
    transition: 0.3s;
  }
  .search-input-bar:focus {
    border-top: 2px solid $dark-bg;
    outline: none;
    border-bottom: 2px solid $dark-bg;
  }
  .search-btn {
    margin-bottom: 3%;
    cursor: pointer;
  }
  .filter-btn {
    margin-right: 2%;
    cursor: pointer;
  }
  .en-category {
    margin-right: 1%;
    display: flex;    
    align-items: center;
    width: 50%;
    cursor: pointer;
  }
  .cate-orange-tag {
    //display: inline;
    width: 100%;
    height: auto;
    margin-right: 3%;
  }
  .category-box {
    width: 80%;
    display: flex;
    margin-left: 18%;
  }
  .filter-tag-box {
    margin: 2% 0 0 5%;
    display: flex;
    flex-wrap: wrap;
  }
  .filter-tag {
    padding: 0.5% 1.5%;
    margin-right: 1.5%;
    border: 1px solid #575757;
    border-radius: 20px;
  }
  .filter-tag span {
    cursor: pointer;
  }
  .no-result {
    text-align: center;
    padding-top: 17%;
  }
  .no-result span {
    padding-left: 2%;
    line-height: 3rem;
  }
  .prod-list {
    padding: 3% 5% 0 5%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .prod-card {
    position: relative;
    width: 22%;
    height: 390px;
    margin: 0 5% 3% 5%;
    margin-top: 3%;
    padding-bottom: 7%;
    transition: transform 0.5s;
  }
  @media (hover: hover) {
    //如果要電腦版啟用此hover但手機板不能因為點擊而觸發，需要寫成這樣
    .prod-card:hover {
      background-color: #ffffff;
      transform: scale(1.1);
      transition: transform 0.6s;
    }
    .prod-card:hover .prod-img-box {
      transform: translate(-5rem, -4rem);
    }
    .prod-card:hover .content {
      opacity: 1;
      transform: translate(4rem, 4rem);
    }
  }
  // .prod-card:hover {
  //   background-color: #ffffff;
  //   transform: scale(1.1);
  //   transition: transform 0.6s;
  // }
  .prod-img-box {
    // position: relative;
    // width: 95%;
    // height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  .prod-img-box img {
    padding: 8%;
    width: 90%;
    height: auto;
    object-fit: cover;
  }
  // .prod-card:hover .prod-img-box {
  //   transform: translate(-5rem, -4rem);
  // }
  // .prod-card:hover .content {
  //   opacity: 1;
  //   transform: translate(4rem, 4rem);
  // }
  .content {
    position: relative;
    top: 45%;
    left: 20%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    // background: green;
    // background: center/cover no-repeat url(./brush.png);
  }
  .content:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    background: center/cover no-repeat url(./brush.png);
  }

  .discount-tag {
    position: absolute;
    right: 10%;
    top: 12%;
  }
  .discount-tag-content {
    background-color: #841d29;
    color: #ffffff;
    width: 60px;
    border-radius: 15px;
    padding: 5% 15%;
    text-align: center;
  }
  .prod-name-ch {
    position: relative;
    top: 70%;
    padding-left: 6%;
  }
  .prod-name-en {
    position: relative;
    top: 70%;
    padding-top: 1%;
    padding-left: 6%;
  }
  .prod-price-special {
    position: relative;
    top: 65%;
    padding-top: 5%;
    display: flex;
    width: 88%;
    padding-right: 5%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .original-price {
    padding-top: 2%;
    text-decoration-line: line-through;
    color: #c4c4c4;
  }
  .special-price {
    color: #b03342;
  }
  .prod-price-no-discount {
    position: relative;
    top: 65%;
    padding-top: 5%;
    width: 88%;
    padding-right: 5%;
    margin: 0 auto;
  }
  .no-discount {
    float: right;
    padding-top: 2%;
    color: #212121;
  }
  .select-add-cart {
    padding-top: 5%;
    display: flex;
    width: 88%;
    padding-right: 5%;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    top: 66%;
  }
  .select-count {
    display: flex;
    justify-content: space-between;
    width: 50%;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
  }
  /*隱藏input(number)的上下選擇按鈕*/
  .select-count input::-webkit-outer-spin-button,
  .select-count input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .select-count button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 2.5rem;
  }
  .select-count input {
    width: 50%;
    font-size: 1.8rem;
    background: none;
    border: none;
    text-align: center;
  }
  .cart-btn {
    cursor: pointer;
  }
  /*ul水平置中*/
  /*參考: https://blog.sig.tw/2015/09/css-ul-%E7%BD%AE%E4%B8%AD%E6%96%B9%E6%B3%95-%E7%94%A8%E6%96%BC%E4%BD%BF%E7%94%A8-li-%E8%A8%AD%E8%A8%88%E7%9A%84%E9%81%B8%E5%96%AE.html*/
  .pagination-box {
    display: block;
    float: right;
    left: -55%;
    position: relative;
    margin-bottom: 5%;
    padding-top: 5%;
  }
  .pagination {
    float: left;
    left: 50%;
    position: relative;
    list-style-type: none;
  }
  .pagination li {
    display: inline; /*li水平排列*/
    margin-right: 6%;
  }
  .page-prev,
  .page-next {
    background-color: #c4c4c4;
    border-radius: 50%;
    color: #ffffff;
  }
  .page-number {
    border: 1px solid #575757;
    border-radius: 50%;
    color: #575757;
  }
  .page-number.selected {
    /*分頁被選中時*/
    border: 1px solid #b03342;
    color: #b03342;
  }
  .page-prev,
  .page-next,
  .page-number {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  .mobile-filter-title {
    margin: 0;
  }
  .prod-filter-ryan {
    width: 85%;
    margin: 0 auto;
    background-color: $light-bg;
    overflow: hidden;
    transition: 0.3s;
  }
  .prod-filter-sh {
    background-color: $light-bg;
    overflow: hidden;
    position: fixed;
    top: 17rem;
    width: 75%;
    min-height: calc($min-height-lg - 8rem);
    transition: 0.3s;
  }
  .prod-filter {
    background-color: $light-bg;
    overflow: hidden;
    position: fixed;
    top: 20%;
    width: 75%;
    height: 80vh;
    right: 12.5%;
    transition: 0.3s;
  }
  .filter-top {
    float: right;
    display: flex;
    margin-bottom: 2%;
  }
  .clean-filter {
    width: 120px;
    cursor: pointer;
  }
  .clean-filter img {
    padding-bottom: 4%;
  }
  .cancel-filter {
    font-weight: bold;
    // padding-left: 10%;
    cursor: pointer;
  }
  .tag-img {
    margin-bottom: 1%;
    margin-right: 1%;
  }
  .by-price-title,
  .by-flavor-title,
  .by-category {
    display: flex;
  }
  .down-arrow {
    display: none;
  }
  .orange-tag {
    padding: 0.5% 1%;
  }
  .by-price {
    margin-bottom: 2%;
    clear: both;
  }
  .by-price-text {
    display: inline;
  }
  .by-price-input {
    margin: 3% 1%;
    display: flex;
  }
  .by-price-input input::-webkit-outer-spin-button,
  .by-price-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .by-price-input input:focus {
    border-top: 2px solid $dark-bg;
    outline: none;
    border-bottom: 2px solid $dark-bg;
  }

  .by-price-input input {
    width: 45%;
    height: 50px;
    font-size: 1.8rem;
    background: none;
    border: none;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
    text-align: center;
  }
  .by-price-input input::placeholder {
    color: #c4c4c4;
    @extend .ch-title-16;
  }
  .by-price-dash-line {
    margin: 0 3%;
    width: 3%;
    height: 25px;
    border-bottom: 1px solid #545454;
    border-right: none;
  }
  .by-flavor {
    margin-bottom: 2%;
  }
  .flavor-tag-box {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
  }
  .flavor-tag {
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    padding: 0.5% 1% 0.5% 1%;
    border: 1px solid #b03342;
    color: #b03342;
    border-radius: 25px;
    cursor: pointer;
  }
  .flavor-tag:hover {
    color: #ffffff;
    background-color: #b03342;
  }
  input.caterory-check {
    width: 25px;
    height: 25px;
  }
  .category-checkbox-box {
    display: flex;
    margin-top: 2%;
    padding-left: 0.5%;
  }
  .category-checkbox-box label {
    color: #545454;
  }
  .label-box {
    margin: 0 2% 0 0.5%;
    line-height: 25px;
  }
  // .send-filter{
  //   background-color: #b03342;
  //   color: #ffffff;
  //   border-radius: 30px;
  //   padding: 1% 3%;
  //   float: right;
  //   margin-right: 8%;
  //   margin-bottom: 5%;
  //   cursor: pointer;
  // }
  .send-filter-btn-box {
    float: right;
    margin: 0 0 10% 0;
  }
  .add-cart {
    display: none;
    margin: 10% 2%;
  }
  .cate-orange-tag-img {
    width: 18.38px;
    height: 18.38px;
    border-radius: 2px;
    transform: rotate(45deg);
    background-color: #ff5656;
    margin-right: 1rem;
  }  

  // RWD變數
  @media screen and (max-width: 576px) {
    .category-box {
      width: 90%;
      margin-top: 5%;
      margin-left: 5%;
    }
    prod-filter-sh {
      left: 0;
    }
    .prod-card {
      width: 50%;
      margin: 5% 0;
    }
    .cate-orange-tag-img {
      width: 13px;
      height: 13px;
      border-radius: 2px;
      transform: rotate(45deg);
      background-color: #ff5656;
      margin-right: 1rem;
    }
    .en-category {
      //margin-right: 14%;
      margin-right: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .select-add-cart {
      top: 30%;
      display: block;
    }
    .select-count {
      width: 100%;
      margin: 0 auto;
    }
    .cart-btn {
      display: none;
    }
    .add-cart {
      display: block;
      margin: 10% auto;
    }
    .pagination-box {
      display: none;
    }
    .search-btn,
    .filter-btn {
      margin-bottom: 5%;
    }
    .search-btn,
    .filter-btn {
      margin-right: 2%;
      margin-bottom: 3%;
      cursor: pointer;
    }
    .search-btn,
    .filter-btn {
      margin-right: 2%;
      margin-bottom: 3%;
      cursor: pointer;
    }
    // .filter-tag-box {
    //   margin: 5% 0 5% 9%;
    // }
    .filter-top {
      margin-bottom: 15%;
    }
    .orange-tag {
      padding: 0% 1%;
    }
    .down-arrow {
      display: block;
    }
    .by-price-input {
      display: none;
    }
    .by-price-input input {
      margin: 5% 10%;
      width: 80%;
    }
    .by-price-dash-line {
      margin: 0;
      width: 50%;
      height: 25px;
      border-right: 1px solid #545454;
      border-bottom: none;
    }
    .discount-tag {
      top: 2%;
    }
    .prod-name-ch {
      top: 30%;
    }
    .prod-name-en {
      top: 30%;
    }
    .prod-price-special {
      top: 30%;
    }
    .prod-price-no-discount {
      top: 30%;
    }
    .no-discount {
      margin-bottom: 6%;
    }
    .flavor-tag-box {
      // display: none;
      margin-top: 5%;
      width: 100%;
    }
    .flavor-tag {
      margin-right: 3%;
      margin-bottom: 3%;
    }
    .category-checkbox-box {
      display: none;
      margin: 5% 0;
    }
    .send-filter-btn-box {
      float: none;
      text-align: center;
      margin: 20% 0 10% 0;
    }
    .prod-filter {
      width: 100%;
      top: 30%;
      // height: 80vh;
      right: 0;
    }
    $prod-filter-mb: calc($min-height-lg - 4rem - 80px);
    .prod-filter-sh {
      // width: 100%;
      top: 18%;
      min-height: $prod-filter-mb;
    }
    .mobile-filter-title {
      margin: 0 0 5% 10%;
    }
    .prod-img-box img {
      height: 140px;
    }
  }

  @media only screen and (min-width: 577px) and (max-width: 960px) {
  }
}

// 字體RWD
.en-category {
  @extend .en-title-20;
  // transition: 0.5s;
  //text-align: center;
  @include pad {
    @include mytitle;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.35rem;
  }
  @include mobile {
    @include mytitle;
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 0.15rem;
  }
}
.en-title-big {
  @extend .en-title-24;
  // transition: 0.5s;
  @include pad {
    @include mytitle;
    font-size: 2.3rem;
    line-height: 3.4rem;
    letter-spacing: 0.5rem;
  }
  @include mobile {
    @include mytitle;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.3rem;
  }
}


  .bread{
    padding-top: 15%;
  }
   @media screen and (min-width: 576px) {
   .bread{
     padding-top: 0%;

}
}
